<a href="https://colab.research.google.com/github/brotherhodu/Study/blob/main/python_200/%EC%B4%88%EB%B3%B4%EC%9E%90%EB%A5%BC_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC_200%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part1. Python 프로그래밍 첫발 내딛기

In [ ]:
#002. 텍스트 에디터로 프로그래밍 하기

print("안녕하세요")
a=1
b=2
print(a+b)

안녕하세요
3

In [ ]:
#003. 변수명 만들기
_myname = 'dongwook'
my_name = 'dwnam'
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
#004. 변수에 값 대입하기

number1 = 1
pi = 3.14
flag = True
char = 'x'
chars = 'I love Python'

In [ ]:
#005. 주석 처리하기(#)

"""a=1
b=5
print(a+b)"""
a=2
b=6
print(a+b)

8

In [ ]:
#006. 자료형 개념 배우기

str_data = "안녕하세요"
str_data2 = 'Hello world'
print(str_data)
str_data2

complex_data = 1+5j # 복소수 선언: 파이썬에서 허수부는 j로 표현한다는 것!

list_data = [1,2,3]
tuple_data = (1,2,3)  # tuple은 요소값을 변경할 수 없다는 점에서 list와는 다르다. 
dict_data = {0:'False', 1:'True'}

안녕하세요

In [ ]:
#007. 자료형 출력 개념 배우기(print)

list_data = ['a', 'b', 'c']
dict_data = {'a':97, 'b':98}
print(list_data[2])
print(dict_data['a'])

print('#', end = "")  # print 후에 줄바꿈을 하지 않는 방법
print('#')

c
97
##

In [ ]:
# 008. 들여쓰기 개념 배우기

# 파이썬은 다른 프로그래밍 언어와 달리 제어문, 함수, 클래스에서 실행 코드 부분을 {}으로 감싸주는 것이 없다. 대신 들여쓰기로 괄호를 대신한다. 
# 제어문이나 함수이름, 클래스 이름 뒤에 콜론(':')으로 제어문, 함수, 클래스 이름의 끝을 표시하며 : 다음에 실행코드를 작성한다. 

listdata = ['a', 'b', 'c']
if 'a' in listdata:
  print('a가 listdata에 있습니다.')  # : 뒤의 실행코드는 모두 들여쓰기 간격이 동일해야 한다. 
  print(listdata)
else:
  print('a가 listdata에 존재하지 않습니다.')

a가 listdata에 있습니다.
['a', 'b', 'c']

In [ ]:
# 009. if문 개념 배우기 (if ~ else)

x=1
y=2
if x>=y:
  print('x가 y보다 크거나 같다.')
else:
  print('x가 y보다 작다.')

x가 y보다 작다.

In [ ]:
# 010. if문 개념 배우기 (if~elif)

x=3
y=2
if x>y:
  print('x가 y보다 크다.')
elif x<y:
  print('x가 y보다 작다')
else:
  print('x와 y가 같다.')

x가 y보다 크다.

In [ ]:
# 011. for 문 개념 배우기 (for)

scope = [1,2,3,4,5]
for x in scope:
  print(x)

1
2
3
4
5

In [ ]:
str='abcdef'
for c in str:
  print(c)

a
b
c
d
e
f

In [ ]:
ascii_codes = {'a':97, 'b':98, 'c':99}
for i in ascii_codes:
  print(i)

a
b
c

In [ ]:
# 012. for 문 개념 배우기 (for ~ continue ~ break)

scope = [1,2,3,4,5]
for x in scope:
  print(x)
  if x < 3:
    continue
  else:
    break

1
2
3

In [ ]:
for x in scope:
  print(x)
  if x>=3:
    break

1
2
3

In [ ]:
# 013. for 문 배우기 (for ~ else)

scope = [1,2,3]
for x in scope:
  print(x)
  #break
else: 
  print('Perfect')

1
2
3
Perfect

In [ ]:
# 014. while문 개념 배우기 (while ~ continue ~ break)

x = 0
while x < 10:
  x = x+1
  if x < 3:
    continue
  print(x)
  if x > 7:
    break

3
4
5
6
7
8

In [ ]:
x=1
total=0
while 1:
  total = total +x
  if total > 100000:
    print(x)
    print(total)
    break
  else: x = x+1

447
100128

In [ ]:
# 015. None 개념 배우기

val = None
condition = 1
if condition == 1:
  val = [1,2,3]
else:
  val = 'I love Python'

# Part2. Python 프로그래밍 기초 다지기

In [ ]:
# 016. 정수형 자료 이해하기

int_data = 10
bin_data = 0b10
oct_data = 0o10
hex_data = 0x10
long_data = 1234567890123456789
print(int_data)
print(bin_data)
print(oct_data)
print(hex_data)
print(long_data)

10
2
8
16
1234567890123456789

In [ ]:
# 017. 실수형 자료 이해하기

f1 = 1.0
f2 = 3.14
f3 = 1.56e3
f4 = -0.7e-4
print(f1)
print(f2)
print(f3)
print(f4)

1.0
3.14
1560.0
-7e-05

In [ ]:
# 018. 복소수형 자료 이해하기

c1 = 1+7j
print(c1.real); print(c1.imag)
c2 = complex(2,3)
print(c2)

1.0
7.0
(2+3j)

In [ ]:
# 019. 대입 연산자 이해하기 (=)

a = 1
b = 2
ret = a+b
print('a와b를 더한 값은', end = '')
print(ret, end = '')
print('입니다')

a와b를 더한 값은3입니다

In [ ]:
# 020. 사칙 연산자 이해하기 (+,-,*,/,**)

a = 2
b = 4
ret1 = a+b
ret2 = a-b
ret3 = a*b
ret4 = a/b
ret5 = a**b
ret6 = a+a*b/a
ret7 = (a+b)*(a-b)
ret8 = a*b**a

In [ ]:
# 021. 연산자 축약 이해하기

a = 0
a += 1
a -= 5
a *= 2
a /= 4

print(a)

-2.0

In [ ]:
# 022. True와 False 이해하기

a = True
b = False
print(a == 1)
print(b != 0)

True
False

In [ ]:
# 023. 관계 연산자 이해하기 (==, !=, <, <=, >, >=)

x = 1; y = 2
str1 = 'abc'; str2 = 'python'
print(x == y)
print(x != y)
print(str1 == str2)
print(str2 == 'python')
print(str1 < str2)

False
True
False
True
True

In [ ]:
# 024. 논리 연산자 이해하기 (and, or, not)

bool1 = True; bool2 = False; bool3 = True; bool4 = False
print(bool1 and bool2)
print(bool1 and bool3)
print(bool2 or bool3)
print(bool2 or bool4)
print(not bool1)
print(not bool2)

False
True
True
False
False
True

In [ ]:
# 025. 비트 연산자 이해하기 (&, |, ~, ^, >>, <<)

bit1 = 0x61
bit2 = 0x62
print(hex(bit1 & bit2))
print(hex(bit1 | bit2))
print(hex(bit1 ^ bit2))
print(hex(bit1 >> 1))
print(hex(bit1 << 2))

0x60
0x63
0x3
0x30
0x184

In [ ]:
# 026. 시퀀스 자료형 이해하기

strdata = 'abcde'
listdata = [1,[2,3], '안녕']
tupledata = (100,200,300)

In [ ]:
# 027. 시퀀스 자료 인덱싱 이해하기

strdata = 'Time is money!!'
listdata = [1,2, [1,2,3]]
print(strdata[5])
print(strdata[-2])
print(listdata[0])
print(listdata[-1])
print(listdata[2][-1])

i
!
1
[1, 2, 3]
3

In [ ]:
# 028. 시퀀스 자료 슬라이싱 이해하기

strdata = 'Time is money!!'
print(strdata[1:5])
print(strdata[:7])
print(strdata[9:])
print(strdata[:-3])
print(strdata[-3:])
print(strdata[:])
print(strdata[::2])

ime
Time is
oney!!
Time is mone
y!!
Time is money!!
Tm smny!

In [ ]:
# 029. 시퀀스 자료 연결 이해하기(+)

strdata1 = 'I love '; strdata2 = 'Python'; strdata3 = 'you'
listdata1 = [1,2,3]; listdata2 = [4,5,6]
print(strdata1 + strdata2)
print(strdata1 + strdata3)
print(listdata1 + listdata2)

I love Python
I love you
[1, 2, 3, 4, 5, 6]

In [ ]:
# 030. 시퀀스 자료 반복 이해하기(*)

artist = 'BTS!'
fan = 'ARMY'
dispdata = fan + '들이 외칩니다.' + artist*3
print(dispdata)

ARMY들이 외칩니다.BTS!BTS!BTS!

In [ ]:
# 031. 시퀀스 자료 크기 이해하기(len)

strdata1 = 'I love python'
strdata2 = '나는 파이썬을 사랑합니다'
listdata = ['a','b','c',strdata1, strdata2]
print(len(strdata1))
print(len(strdata2))
print(len(listdata))
print(len(listdata[3]))

13
13
5
13

In [ ]:
# 032. 멤버체크 이해하기 (in)

listdata = [1,2,3,4]
ret1 = 5 in listdata
ret2 = 4 in listdata
print(ret1); print(ret2)
strdata = 'abcd'
ret3 = 'c' in strdata
ret4 = 'l' in strdata
print(ret3); print(ret4)

False
True
True
False

In [ ]:
# 033. 문자열 이해하기

strdata1 = '나는 파이썬 프로그래머다'
strdata2 = 'You are a programmer'
strdata3 = """I love 
python. You love
pyton too!
"""
strdata4 = "My son's name is John"
strdata5 = '문자열 "abc"의 길이는 3입니다.'

In [ ]:
# 034. 문자열 포맷팅 이해하기

txt1 ='자바'; txt2 = '파이썬'
num1 = 5; num2 = 10
print('나는 %s보다 %s에 더 익숙합니다.' %(txt1, txt2))
print('%s은 %s보다 %d배 더 쉽습니다.' %(txt2, txt1, num1))
print('%d + %d =%d'%(num1, num2, num1+num2))
print('작년 세계 경제 성장률은 전년에 비해 %d%% 포인트 증가했다.'%num1)

# 명령 프롬프트에서 진행률을 화면의 동일한 라인에 표시하는 방법
from time import sleep
for i in range(100):
  msg = '\r진행률 %d%%'%(i+1)
  print(''*len(msg), end = '')
  print(msg, end = '')
  sleep(0.1)

나는 자바보다 파이썬에 더 익숙합니다.
파이썬은 자바보다 5배 더 쉽습니다.
5 + 10 =15
작년 세계 경제 성장률은 전년에 비해 5% 포인트 증가했다.
진행률 100%

In [ ]:
# 035. 이스케이프 문자 이해하기

print('나는 파이썬을 사랑합니다.\n 파이썬은 자바보다 훨씬 쉽습니다.')
print('Name: John Smith\tSex: Male\tAge: 22')
print('이 문장은 화면폭에 비해 너무 길어 보기가 힘듭니다.\
그래서 \\Enter키를 이용해 문장을 다음줄과 연속되도록 했습니다.')
print('작은따옴표(\')와 큰 따옴표(")는 문자열을 정의할 때 사용합니다.')

나는 파이썬을 사랑합니다.
 파이썬은 자바보다 훨씬 쉽습니다.
Name: John Smith	Sex: Male	Age: 22
이 문장은 화면폭에 비해 너무 길어 보기가 힘듭니다.그래서 \Enter키를 이용해 문장을 다음줄과 연속되도록 했습니다.
작은따옴표(')와 큰 따옴표(")는 문자열을 정의할 때 사용합니다.

In [ ]:
# 036. 리스트 이해하기 ([])

list1 = [1,2,3,4,5]
list2 = ['a', 'b', 'c']
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]
list1[0] = 6

print(list1)
def myfunc():
  print('안녕하세요')
list4 = [1,2, myfunc]
list4[2]()

[6, 2, 3, 4, 5]
안녕하세요

In [ ]:
# 037. 튜플 이해하기 (())

tuple1 = (1,2,3,4,5)
tuple2 = ('a','b','c')
tuple3 = (1, 'a', 'abc', [1,2,3,4,5], ['a','b','c'])
# tuple1[0] = 6

def myfunc():
  print('안녕하세요')

tuple4 = (1,2, myfunc)
tuple4[2]()

안녕하세요

In [ ]:
# 038. 사전 이해하기 ({})
dict1 = {'a':1, 'b':2, 'c':3}
print(dict1['a'])
dict1['d'] = 4
print(dict1)
dict1['b'] = 7
print(dict1)
print(len(dict1))

1
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 7, 'c': 3, 'd': 4}
4

In [ ]:
# 039. 함수 이해하기(def)

def add_number(n1,n2):
  ret = n1+n2
  return ret

def add_txt(t1, t2):
  print(t1+t2)

ans = add_number(10,15)
print(ans)
text1 = '대한민국~'
text2 = '만세!!'
add_txt(text1, text2)

25
대한민국~만세!!

In [ ]:
# 040. 함수 인자 이해하기

def add_txt(t1, t2 = '파이썬'):
  print(t1 + ':' + t2)

add_txt('베스트')
add_txt(t2 = '대한민국', t1 = '1등')

def func1(*args):
  print(args)

def func2(width, height, **kwargs):
  print(kwargs)

func1()
func1(3,5,1,5)
func2(10,20)
func2(10,20, depth = 50, color = 'blue')

베스트:파이썬
1등:대한민국
()
(3, 5, 1, 5)
{}
{'depth': 50, 'color': 'blue'}

In [ ]:
# 041. 지역변수와 전역변수 이해하기 (global)
# 함수 내에서 선언하면 지역변수, 함수 밖에서 선언하면 전역변수

param = 10
strdata = '전역변수'

def func1():
  strdata = '지역변수'
  print(strdata)

def func2(param):
  param = 1

def func3():
  global param
  param = 50

func1()
print(strdata)
print(param)
func2(param)
print(param)
func3()
print(param)

지역변수
전역변수
10
10
50

In [ ]:
# 042. 함수 리턴값 이해하기 (return)

def reverse(x,y,z):
  return z,y,x

ret = reverse(1,2,3)
print(ret)

r1, r2, r3 = reverse('a','b','c')
print(r1); print(r2); print(r3)

(3, 2, 1)
c
b
a

### working directory 설정

In [ ]:
# working directofy 설정

import os
os.chdir('/content/drive/MyDrive/공부/코딩공부/초보자를 위한 파이썬 200제')

In [ ]:
!pwd

/content/drive/MyDrive/공부/코딩공부/초보자를 위한 파이썬 200제

In [ ]:
# 043. 파이썬 모듈 이해하기

import time

print('5초간 프로그램을 정지합니다.')
time.sleep(5)
print('5초가 지나갔습니다.')

5초간 프로그램을 정지합니다.
5초가 지나갔습니다.

In [ ]:
# 043-1. 파이썬 모듈 만들기

def add_txt(t1, t2):
  return t1 + ':' + t2

def reverse(x,y,z):
  return z,y,x

# 위와 같이 모듈을 만들고 mylib.py 파일로 디렉토리에 저장하였음

In [ ]:
# 모듈 불러와서 실행하기

import mylib  # 해당 mylib.py 파일을 워킹디렉토리에 넣으니까 import 됨

ret1 = mylib.add_txt('대한민국', '1등')
ret2 = mylib.reverse(1,2,3,)
print(ret1)
print(ret2)

대한민국:1등
(3, 2, 1)

In [ ]:
# 044. 파이썬 패키지 이해하기
# 파이썬 모듈을 계층적인 디렉토리 형태로 구성한 것을 파이썬 패키지라 한다.

import mypackage.mylib  # 소스코드가 있는 워킹디렉토리에 mypackage 디렉토리 만들었음. (내용이 version=1.0 인 __init__.py 파일이 패키지 내에 있어야 함)

ret1 = mypackage.mylib.add_txt('대한민국','1등')
ret2 = mypackage.mylib.reverse(1,2,3)
print(ret1)
print(ret2)

대한민국:1등
(3, 2, 1)

In [ ]:
# 045. 파이썬 모듈 임포트 이해하기(import)

import time  # 파이썬 내장 모듈인 time을 임포트
import mylib  # 내가 작성한 mylib 모듈을 임포트
import mypackage.mylib  # mypackage에 있는 mylib 모듈을 임포트

time.sleep(1)
mylib.add_txt('나는', '파이썬이다')
mypackage.mylib.reverse(1,2,3)

(3, 2, 1)

In [ ]:
# 046. 파이썬 모듈 임포트 이해하기2 (from ~ import)

from time import sleep
from mypackage import mylib
from mypackage.mylib import reverse

sleep(1)
mylib.add_txt('나는', '파이썬이다')
reverse(1,2,3)

(3, 2, 1)

In [ ]:
# 047. 파이썬 모듈 임퐅 이해하기3 (import~as)

import mypackage as mp
import mypackage.mylib as ml

ret1 = mp.mylib.add_txt('대한민국', '1등')
ret2 = ml.reverse(1,2,3)

In [ ]:
# 048. 파일 열고 닫기 (open, close)

In [ ]:
# 클래스 이해하기 (class)

class MyClass:
  var = '안녕하세요'
  def sayHello(self):
    print(self.var)

obj = MyClass()  # MyClass 인스턴스 객체 생성
print(obj.var)  # '안녕하세요'가 출력됨
obj.sayHello()  # '안녕하세요'가 출력됨

안녕하세요
안녕하세요

In [ ]:
# 050. 클래스 멤버와 인스턴스 멤버 이해하기

class MyClass:
  var = '안녕하세요!!'
  def sayHello(self):
    param1 = '안녕'
    self.param2 = '하이'
    print(param1)
    print(self.var)

obj = MyClass()
print(obj.var)
obj.sayHello()
# obj.param1

안녕하세요!!
안녕
안녕하세요!!

In [ ]:
# 051. 클래스 메소드 이해하기 

class MyClass:
  def sayHello(self):
    print('안녕하세요')

  def sayBye(self, name):
    print('%s! 다음에 보자!' %name)

obj = MyClass()
obj.sayHello()
obj.sayBye('철수')

안녕하세요
철수! 다음에 보자!

In [ ]:
# 052. 클래스 생성자 이해하기

class MyClass:
  def __init__(self):
    self.var = '안녕하세요!'
    print('MyClass 인스턴스 객체가 생성되었습니다')

obj = MyClass()
print(obj.var)

MyClass 인스턴스 객체가 생성되었습니다
안녕하세요!

In [ ]:
# 위의 인스턴스 객체에 인자를 대입하는 방법
## MyClass의 생성자를 다음과 같이 수정하기

class MyClass:
  def __init__(self, txt):
    self.var = txt
    print('생성자 인자로 전달받은 값은<'+ self.var +'> 입니다')

# MyClass 의 생성자가 인자를 한 개 가지므로 MyClass 인스턴스 객체는 다음과 같이 생성

obj = MyClass('철수')

생성자 인자로 전달받은 값은<철수> 입니다

In [ ]:
# 053. 클래스 소멸자 이해하기

class MyClass:
  def __del__(self):
    print('MyClass 인스턴스 객체가 메모리에서 제거됩니다')

obj = MyClass()
del obj

MyClass 인스턴스 객체가 메모리에서 제거됩니다

In [ ]:
# 054. 클래스 상속 이해하기

class Add:
  def add(self, n1, n2):
    return n1 + n2

class Calculator(Add):  # 부모클래스로부터 상속을 받아 자식클래스를 정의하는 방법은 다음과 같음 -> class 자식클래스(부모클래스):
  def sub(self, n1, n2):
    return n1 - n2

obj = Calculator()
print(obj.add(1,2))
print(obj.sub(1,2))

3
-1

In [ ]:
# 054-1. 다중상속
## 자식클래스는 여러 개의 부모클래스로부터 상속받을 수 있다. 이를 다중상속이라고 한다. 다중 상속 클래스를 정의하는 방법은 다음과 같다.
## class 자식클래스(부모클래스1, 부모클래스2, ..)

class Add:
  def add(self, n1, n2):
    return n1 + n2

class Multiply:
  def multiply(self, n1, n2):
    return n1*n2

class Calculator(Add, Multiply):
  def sub(self, n1, n2):
    return n1 - n2

obj = Calculator()
print(obj.add(1,2))
print(obj.multiply(3,2))

3
6

In [ ]:
# 055. 예외처리 이해하기1 (try~except)
## 프로그램이 실행되는 동안 오류가 발생하여 프로그램이 더 이상 진행될 수 없는 상태 -> 예외(Exception)상황
## 프로그램에 예외가 발생하더라도 프로그램을 중단시키지 않고 예외에 대한 적절한 처리를 하여 프로그램을 계속 진행시킬 수 있도록 하는 구문이 try~except 이다.

try:
  print('안녕하세요')
  print(param)
except:
  print('예외가 발생했습니다!')

안녕하세요
예외가 발생했습니다!

In [ ]:
# 056. 예외처리 이해하기2 (try~except~else)

try:
  print('안녕하세요')
  # print(param)
except:
  print('예외가 발생했습니다!')
else:
  print('예외가 발생하지 않았습니다.')

안녕하세요
예외가 발생하지 않았습니다.

In [ ]:
# 057. 예외처리 이해하기3 (try~except~finally)

try:
  print('안녕하세요.')
  print(param)
except:
  print('예외가 발생했습니다!')
finally:
  print('무조건 실행하는 코드')

안녕하세요.
예외가 발생했습니다!
무조건 실행하는 코드

In [ ]:
# 058. 예외처리 이해하기4 (try~except Exception as e)
## 파이썬은 발생 가능한 예외에 대해 exception 객체로 미리 정의해두고 있는데 이에 대한 내용은 다음 링크에서 확인할 수 있음
## http://docs.python.org/3/library/exceptions.html#bltin-exceptions

try:
  print(param)
except Exception as e:
  print(e)

name 'param' is not defined

In [ ]:
# 059. 예외처리 이해하기5 (try~except 특정 예외)

import time
count = 1
try:
  while True:
    print(count)
    count +=1
    time.sleep(0.5)
except KeyboardInterrupt:
  print('사용자에 의해 프로그램이 중단되었습니다')

1
2
3
4
5
6
사용자에 의해 프로그램이 중단되었습니다

# Part3. Python 프로그래밍 실력 다지기

In [ ]:
# 060. 사용자 입력받기(input)

k = input('<값>을 입력하세요:')
print('당신이 입력한 값은 <'+k+'>입니다.')

<값>을 입력하세요:쉽지않다!
당신이 입력한 값은 <쉽지않다!>입니다.

In [ ]:
n = input('나의 이름은: ')
print('나의 이름은 '+n+'이다.')

나의 이름은: 남동욱
나의 이름은 남동욱이다.

In [ ]:
# 061. 자료형 확인하기(type)

numdata = 57
strdata = '파이썬'
listdata = [1,2,3]
dictdata = {'a':1, 'b':2}

def func():
  print('안녕하세요.')

print(type(numdata))
print(type(strdata))
print(type(listdata))
print(type(dictdata))
print(type(func))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'function'>

In [ ]:
# 062. 나눗셈에서 나머지만 구하기(%)
## 나누기 연산에서 나머지만 구하는 연산을 모듈로(modulo) 연산이라고 한다. 기호는 mod로 표시한다. (ex. 12 mod 3 = 0)
## 파이썬에서 모듈로 연산 기호는 % 연산자이다. 

a = 11113
b = 23
ret = a%b
print('<%d>를 <%d>로 나누면 <%d>가 나머지로 남습니다.' %(a, b, ret))

<11113>를 <23>로 나누면 <4>가 나머지로 남습니다.

In [ ]:
# 063. 몫과 나머지 구하기(divmod)

a = 11113
b = 23
ret1,ret2 = divmod(a,b)
print('<%d/%d>는 몫이 <%d>, 나머지가 <%d>입니다.' %(a,b, ret1, ret2))

<11113/23>는 몫이 <483>, 나머지가 <4>입니다.

In [ ]:
# 064. 10진수를 16진수로 변환하기(hex)

h1 = hex(97)  # h1은 문자열 '0x61'
h2 = hex(98)  # h2는 문자열 '0x62'
ret1 = h1 + h2
print(ret1)
a = int(h1, 16)
b = int(h2, 16)
ret2 = a + b
print(ret2)
print(hex(ret2))

0x610x62
195
0xc3

In [ ]:
# 065. 10진수를 2진수로 변환하기 (bin)

b1 = bin(97)  # b1은 문자열 '0b11000001'
b2 = bin(98)  # b2는 문자열 '0b11000010'

ret1 = b1 + b2
print(ret1)
a = int(b1, 2)
b = int(b2, 2)
ret2 = a + b
print(bin(ret2))

0b11000010b1100010
0b11000011

In [ ]:
# 066. 2진수, 16진수를 10진수로 변환하기 (int)

bnum = 0b11110000; bstr = '0b11110000'
onum = 0o360; ostr = '0o360'
hnum = 0xf0; hstr = '0xf0'
b1 = int(bnum); b2 = int(bstr, 2)  # b2 = int(bstr, 0)
o1 = int(onum); o2 = int(ostr, 8)  # o2 = int(ostr, 0)
h1 = int(hnum); h2 = int(hstr, 16) # h2 = int(hstr, 0)
print(b1); print(b2)
print(o1); print(o2)
print(h1); print(h2)

240
240
240
240
240
240

In [ ]:
# 067.절대값 구하기(abs)

abs1 = abs(-3)
abs2 = abs(-5.72)
abs3 = abs(3+4j)
print(abs1)
print(abs2)
print(abs3)

3
5.72
5.0

In [ ]:
# 068. 반올림수 구하기(round)

ret1 = round(1118)
ret2 = round(16.554)
ret3 = round(1118, -1)
ret4 = round(16.554, 2)
print(ret1)
print(ret2)
print(ret3)
print(ret4)

1118
17
1120
16.55

In [ ]:
# 069. 실수형 자료를 정수형 자료로 변환하기(int)

idata1 = int(-5.4)
idata2 = int(1.78e1)
idata3 = int(171.56)
print(idata1)
print(idata2)
print(idata3)

-5
17
171

In [ ]:
# 070. 정수형 자료를 실수형 자료로 변환하기(float)

fdata = float(10)
print(fdata)

10.0

In [ ]:
# 071. 정수 리스트에서 소수만 걸러내기(filter)

def getPrime(x):
  if x%2 == 0:
    return

  for i in range(3, int(x/2), 2):
    if x%i == 0:
      break
  else:
    return x

listdata = [117, 119, 1113, 11113, 11119]
ret = filter(getPrime, listdata)  # filter의 첫번째 인자는 특정조건의 값을 추출하는 함수, 두번째 인자는 리스트와 같은 반복 가능한 자료가 입력
print(list(ret))

[11113, 11119]

In [ ]:
# Note: 정수 n 이하의 모든 소수 구하기

def getPrime(n):
  ret = [2]
  if n<=2:
    return ret

  for i in range(3, n+1, 2):
    for k in range(3, int(i/2), 2):
      a = i%k
      if a == 0:
        break

    else:
      ret.append(i)

  return ret

ret = getPrime(10)
print(ret)

[2, 3, 5, 7]

In [ ]:
# 072. 최대값, 최소값 구하기 (max, min)

listdata = [9.96, 1.27, 5.07, 6.45, 8.38, 9.29, 4.93, 7.73, 3.71, 0.93]
maxval = max(listdata)
minval = min(listdata)
print(maxval)
print(minval)

txt = 'Alotofthingsoccureachday'
maxval = max(txt)
minval = min(txt)
print(maxval)
print(minval)

maxval = max(2+3, 2*3, 2**3, 3**2)
minval = min('abz', 'a12')
print(maxval)
print(minval)

9.96
0.93
y
A
9
a12

In [ ]:
# 073. 1바이트에서 하위 4비트 추출하기

a = 107  # 16진수로 0x6b
b = a & 0x0f
print(b)  # 11이 출력됨. 11인 16진수로 b

11

In [ ]:
# 074. 1바이트에서 상위 4비트 추출하기

a = 107
b = (a>>4) & 0x0f
print(b)  # 6이 출력됨

6

In [ ]:
# 075. 문자열에서 특정 위치의 문자 얻기

txt1 = 'A tale that was not right'
txt2 = '이 또한 지나가리라'
print(txt1[5])
print(txt2[-2])

e
리

In [ ]:
# 076. 문자열에서 지정한 구간의 문자열 얻기

txt1 = 'A tale that was not right'
txt2 = '이 또한 지나가리라.'
print(txt1[3:7])
print(txt1[:6])
print(txt2[-4:])

ale
A tale
가리라.

In [ ]:
# 076 응용

txt = 'python'
for i in range(len(txt)):
  print(txt[:i+1])

p
py
pyt
pyth
pytho
python

In [ ]:
# 077. 문자열에서 홀수 번째 문자만 추출하기

txt = 'aAbBcCdDeEfFgGhHiIjJkK'
ret = txt[::2]
print(ret)

abcdefghijk

In [ ]:
# 078. 문자열을 거꾸로 만들기

txt = 'abcdefghijk'
ret = txt[::-1]
print(ret)

kjihgfedcba

In [ ]:
# 079. 두 개의 문자열 합치기(+)

filename = input('저장할 파일을 입력하세요:')
filename = filename + '.jpg'
display_msg = '당신이 저장한 파일은 <' + filename + '> 입니다.'
print(display_msg)

저장할 파일을 입력하세요:dongwook
당신이 저장한 파일은 <dongwook.jpg> 입니다.

In [ ]:
# 080. 문자열을 반복해서 새로운 문자열로 만들기(*)

msg1 = '여러분'
msg2 = '파이팅!'
display_msg = msg1 + ',' + msg2*3 + '~!'
print(display_msg)

여러분,파이팅!파이팅!파이팅!~!

In [ ]:
# 081. 문자열에서 특정 문자가 있는지 확인하기(in)

msg = input('임의의 문장을 입력하세요:')
if 'a' in msg:
  print('당신이 입력한 문장에는 a가 있습니다.')
else:
  print('당신이 입력한 문장에는 a가 없습니다.')

임의의 문장을 입력하세요:그래요, 당신이 맞습니다
당신이 입력한 문장에는 a가 없습니다.

In [ ]:
# 082. 문자열에서 특정 문자열이 있는지 확인하기(in)

msg = input('임의의 문장을 입력하세요:')
if 'is' in msg:
  print('당신이 입력한 문장에는 is 가 있습니다.')
else:
  print('당신이 입력한 문장에는 is 가 없습니다.')

임의의 문장을 입력하세요:is it true?
당신이 입력한 문장에는 is 가 있습니다.

In [ ]:
# 083. 문자열 길이 구하기 (len)

msg = input('임의의 문장을 입력하세요:')
msglen = len(msg)
print('당신이 입력한 문장의 길이는 <%d>입니다.' %msglen)

임의의 문장을 입력하세요:야이놈들아~~
당신이 입력한 문장의 길이는 <7>입니다.

In [ ]:
# 응용

## 위의 문장에서 문자열의 길이는 6이지만 컴퓨터 내부에서 처리되는 바이트 크기는 다르다. 
## 아래와 같이 수정

msg = input('임의의 문장을 입력하세요:')
msglen = len(msg.encode())
print('당신이 입력한 문장의 길이는 <%d>입니다.' %msglen)


## 파이썬 3는 모든 문자열을 유니코드로 처리하기 때문에 특별한 표시를 하지 않는 한 예제의 msg는 유니코드로 인식하고 처리함. 
## encode()는 유니코드 형식으로 된 문자열을 바이트 객체 형식으로 변환해 준다.
## 사용자가 입력한 문자열을 encode()를 이용해 바이트 객체로 변환하고 이 크기를 msglen에 대입한 것

임의의 문장을 입력하세요:야이놈들아~~
당신이 입력한 문장의 길이는 <17>입니다.

In [ ]:
# 084. 문자열이 알파벳인지 검사하기 (isalpha)

txt1 = 'A'
txt2 = '안녕'
txt3 = 'Warcraft Three'
txt4 = '3PO'
ret1 = txt1.isalpha()
ret2 = txt2.isalpha()
ret3 = txt3.isalpha()
ret4 = txt4.isalpha()
print(ret1)
print(ret2)
print(ret3)
print(ret4)

True
True
False
False

In [ ]:
# 085. 문자열이 숫자인지 검사하기 (isdigit)

txt1 = '010-1234-5678'
txt2 = 'R2D2'
txt3 = '1212'
ret1 = txt1.isdigit()
ret2 = txt2.isdigit()
ret3 = txt3.isdigit()
print(ret1)
print(ret2)
print(ret3)

False
False
True

In [ ]:
# 086. 문자열이 알파벳 또는 숫자인지 검사하기 (isalnum)

txt1 = '안녕하세요'
txt2 = '1. Title - 제목을 넣으세요'
txt3 = '3피오R2D2'
ret1 = txt1.isalnum()
ret2 = txt2.isalnum()
ret3 = txt3.isalnum()
print(ret1)
print(ret2)
print(ret3)

True
False
True

In [ ]:
# 087. 문자열에서 대소문자 변환하기 (upper, lower)

txt = 'A lot of Things occur each day.'
ret1 = txt.upper()
ret2 = txt.lower()
print(ret1)
print(ret2)

A LOT OF THINGS OCCUR EACH DAY.
a lot of things occur each day.

In [ ]:
# 088. 문자열에서 좌우 공백 제거하기 (lstrip, rstrip, strip)

txt = ' 양쪽에 공백이 있는 문자열입니다. '
ret1 = txt.lstrip()
ret2 = txt.rstrip()
ret3 = txt.strip()
print('<'+txt+'>')
print('<'+ret1+'>')
print('<'+ret2+'>')
print('<'+ret3+'>')

< 양쪽에 공백이 있는 문자열입니다. >
<양쪽에 공백이 있는 문자열입니다. >
< 양쪽에 공백이 있는 문자열입니다.>
<양쪽에 공백이 있는 문자열입니다.>

In [ ]:
# 089. 문자열을 수치형 자료로 변환하기 (int, float)

numstr = input('숫자를 입력하세요:')
try: 
  num = int(numstr)
  print('당신이 입력한 숫자는 정수 <%d>입니다.' %num)
except:
  try:
    num = float(numstr)
    print('당신이 입력한 숫자는 실수 <%f>입니다.' %num)
  except:
    print('+++숫자를 입력하세요~+++')

숫자를 입력하세요:3.15
당신이 입력한 숫자는 실수 <3.150000>입니다.

In [ ]:
# 090. 수치형 자료를 문자열로 변환하기 (str)

num1 = 1234
num2 = 3.14

numstr1 = str(num1)
numstr2 = str(num2)
print('num1을 문자열로 변환한 값은 "%s"입니다.' %numstr1)
print('num2를 문자열로 변환한 값은 "%s"입니다.' %numstr2)

num1을 문자열로 변환한 값은 "1234"입니다.
num2를 문자열로 변환한 값은 "3.14"입니다.

In [ ]:
# 091. 문자열에 있는 문자(열) 개수 구하기 (count)

txt = 'A lot of things occur each day, every day.'
word_count1 = txt.count('o')
word_count2 = txt.count('day')
word_count3 = txt.count(' ')
print(word_count1)
print(word_count2)
print(word_count3)

3
2
8

In [ ]:
# 092. 문자열에서 특정 문자(열) 위치 찾기(find)

txt = 'A lot of things occur each day, every day.'
offset1 = txt.find('e')
offset2 = txt.find('day')
offset3 = txt.find('day', 30)
print(offset1)
print(offset2)
print(offset3)

22
27
38

In [ ]:
# 093. 문자열을 특정 문자(열)로 분리하기(split)

url = 'http://www.naver.com/news/today=20160831'
log = 'name:홍길동 age:17 sex:남자 nation:조선'

ret1 = url.split('/')
print(ret1)

ret2=log.split()
for data in ret2:
  d1,d2 = data.split(':')
  print('%s->%s'%(d1,d2))

['http:', '', 'www.naver.com', 'news', 'today=20160831']
name->홍길동
age->17
sex->남자
nation->조선

In [ ]:
# 094. 문자열을 특정 문자(열)로 결합하기(join)

loglist = ['2016/08/26 10:12:11','200','OK','이 또한 지나가리라']
bond = ';'
log = bond.join(loglist)
print(log)

# join()의 인자는 문자열이 아니라 문자열을 요소로 가지는 리스트라는 것을 기억하자!

2016/08/26 10:12:11;200;OK;이 또한 지나가리라

In [ ]:
# 095. 문자열에서 특정 문자(열)를 다른 문자(열)로 바꾸기(replace)

txt = 'My password is 1234'
ret1 = txt.replace('1','0')
ret2 = txt.replace('1', 'python')
print(ret1)
print(ret2)

txt = '매일 많은 일들이 일어납니다.'
ret3 = txt.replace('매일', '항상')
ret4 = ret3.replace('일', '사건')
print(ret3)
print(ret4)

My password is 0234
My password is python234
항상 많은 일들이 일어납니다.
항상 많은 사건들이 사건어납니다.

In [ ]:
# 096. 문자열을 바이트 객체로 바꾸기 (encode)

u_txt = 'I love python'
b_txt = u_txt.encode()
print(u_txt)
print(b_txt)

ret1 = 'I' == u_txt[0]
ret2 = 'I' == b_txt[0]
print(ret1)
print(ret2)

I love python
b'I love python'
True
False

In [ ]:
# 097. 바이트 객체를 문자열로 바꾸기 (decode)

b_txt = b'A lot of things occur each day'
u_txt = b_txt.decode()
print(u_txt)

A lot of things occur each day

In [ ]:
# 098. 문자열을 정렬하기 (sorted, join)

strdata = input('정렬할 문자열을 입력하세요:')
ret1 = sorted(strdata)
ret2 = sorted(strdata, reverse = True)
print(ret1)
print(ret2)
ret1 = ''.join(ret1)
ret2 = ''.join(ret2)
print('오름차순으로 정렬된 문자열은<'+ret1+'>입니다.')
print('내림차순으로 정렬된 문자열은<'+ret2+'>입니다.')

정렬할 문자열을 입력하세요:hello world
[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']
['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']
오름차순으로 정렬된 문자열은< dehllloorw>입니다.
내림차순으로 정렬된 문자열은<wroolllhed >입니다.

## 리스트 []

In [ ]:
# 099. 순차적인 정수 리스트 만들기 (range)

range1 = range(10)
range2 = range(10, 20)
print(list(range1))
print(list(range2))

## range 객체는 list가 아니다!!
## print(range1) 해보면 range(0,10) 으로 리턴이 됨

In [ ]:
## 반복가능한 자료형을 리스트로 변환해주는 파이썬 내장함수가 list()

## 반복 가능한 자료형은 리스트로 변환하지 않고 for문에서 범위로 사용될 수 있다.
# 예) 0부터 10까지 정수를 모두 더하기
ret = 0
for i in range(10):
  ret += (i+1)
print(ret)

55

In [ ]:
# 리스트에서 특정 위치의 요소 얻기

listdata = [1,2,'a','b','c',[4,5,6]]
val1 = listdata[1]
val2 = listdata[3]
val3 = listdata[5][1]
print(val1)
print(val2)
print(val3)

2
b
5

In [ ]:
# 101. 리스트에서 특정 요소의 위치 구하기(index)

solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '지구']
planet = '지구'
pos = solarsys.index(planet)
print('%s은(는) 태양계에서 %d번째에 위치하고 있습니다.' %(planet, pos))
pos = solarsys.index(planet, 5)
print('%s은(는) 태양계에서 %d번째에 위치하고 있습니다.' %(planet, pos))

지구은(는) 태양계에서 3번째에 위치하고 있습니다.
지구은(는) 태양계에서 9번째에 위치하고 있습니다.

In [ ]:
# 102. 리스트에서 특정 위치의 요소를 변경하기

solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
planet = '화성'
pos = solarsys.index(planet)
solarsys[pos] = 'Mars'
print(solarsys)

['태양', '수성', '금성', '지구', 'Mars', '목성', '토성', '천왕성', '해왕성']

In [ ]:
# 103. 리스트에서 특정구간에 있는 요소 추출하기

solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
rock_planets = solarsys[1:4]
gas_planets = solarsys[4:]
print('태양계의 암석형 행성:', end = '');print(rock_planets)
print('태양계의 가스형 행성:', end = '');print(gas_planets)

태양계의 암석형 행성:['수성', '금성', '지구']
태양계의 가스형 행성:['화성', '목성', '토성', '천왕성', '해왕성']

In [ ]:
# 104. 리스트에서 짝수 번째 요소만 추출하기

listdata = list(range(1,21))
evenlist = listdata[1::2]
print(evenlist)

oddlist = listdata[::2]
print(oddlist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# 105. 리스트 요소 순서를 역순으로 만들기 1 (reverse)

listdata = list(range(5))
listdata.reverse()
print(listdata)

[4, 3, 2, 1, 0]

In [ ]:
# 106. 리스트 요소 순서를 역순으로 만들기 2 (reversed)

listdata = list(range(5))
ret1 = reversed(listdata)
print('원본 리스트', end = '');print(listdata);
print('역순 리스트', end = '');print(list(ret1))

ret2 = listdata[::-1]
print('슬라이싱 이용', end = '');print(ret2)

# 역순으로 슬라이싱을 이용한 list 배열이 reversed()와 동일한 결과

원본 리스트[0, 1, 2, 3, 4]
역순 리스트[4, 3, 2, 1, 0]
슬라이싱 이용[4, 3, 2, 1, 0]

In [ ]:
# 107. 리스트 합치기(+)

listdata1 = ['a', 'b', 'c', 'd', 'e']
listdata2 = ['f', 'g', 'h', 'i', 'j']
listdata3 = listdata1 + listdata2
listdata4 = listdata2 + listdata1
print(listdata3)
print(listdata4)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['f', 'g', 'h', 'i', 'j', 'a', 'b', 'c', 'd', 'e']

In [ ]:
# 108. 리스트 반복하기(*)

listdata = list(range(3))
ret = listdata*3
print(ret)

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
# 109. 리스트에 요소 추가하기 (append)

listdata = []
for i in range(3):
  txt = input('리스트에 추가할 값을 입력하세요[%d/3]:' %(i+1))
  listdata.append(txt)
  print(listdata)

리스트에 추가할 값을 입력하세요[1/3]:23
['23']
리스트에 추가할 값을 입력하세요[2/3]:2
['23', '2']
리스트에 추가할 값을 입력하세요[3/3]:
['23', '2', '']

In [ ]:
# 110. 리스트의 특정 위치에 요소 삽입하기(insert)

solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
pos = solarsys.index('목성')
solarsys.insert(pos, '소행성')
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']

In [ ]:
# 111. 리스트의 특정 위치의 요소 제거하기 (del)

solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
del solarsys[0]
print(solarsys)
del solarsys[-2]
print(solarsys)

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
['수성', '금성', '지구', '화성', '목성', '토성', '해왕성']

In [ ]:
# 112. 리스트에서 특정 요소 제거하기 (remove)

solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solarsys.remove('태양')
print(solarsys)

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [ ]:
# 113. 리스트에서 특정 구간에 있는 모든 요소 제거하기

solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
del solarsys[1:3]
print(solarsys)

['태양', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [ ]:
# 114. 리스트에 있는 요소 개수 구하기 (len)

listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
listsize = len(listdata)
print(listsize)

15

In [ ]:
# 115. 리스트에서 특정 요소 개수 구하기 (count)

listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
c1 = listdata.count(2)
c2 = listdata.count(7)
print(c1)
print(c2)

3
1

In [ ]:
# 116. 리스트 제거하기 (del)

listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
# del listdata
print(listdata)

[2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]

In [ ]:
# 117. 리스트 요소 정렬하기 1 (sort)

namelist = ['Marry', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']
namelist.sort()
print(namelist)

['Aimy', 'Bob', 'Kelly', 'Marry', 'Michale', 'Sams', 'Tom']

In [ ]:
## 117-1. 리스트 요소를 내림차순으로 정렬하려면 다음과 같이 작성하면 됨

namelist.sort(reverse = True)
print(namelist)

['Tom', 'Sams', 'Michale', 'Marry', 'Kelly', 'Bob', 'Aimy']

In [ ]:
# 118. 리스트 요소 정렬하기 2 (sorted)

namelist = ['Marry', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']
ret1 = sorted(namelist)
ret2 = sorted(namelist, reverse = True)
print(namelist)
print(ret1)
print(ret2)

['Marry', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']
['Aimy', 'Bob', 'Kelly', 'Marry', 'Michale', 'Sams', 'Tom']
['Tom', 'Sams', 'Michale', 'Marry', 'Kelly', 'Bob', 'Aimy']

In [ ]:
# 119. 리스트 요소 무작위로 섞기 (shuffle)

from random import shuffle

listdata = list(range(1,11))
for i in range(3):
  shuffle(listdata)
  print(listdata)

[2, 8, 1, 10, 5, 9, 6, 7, 3, 4]
[10, 8, 2, 7, 9, 6, 3, 1, 4, 5]
[9, 3, 7, 1, 6, 8, 5, 4, 2, 10]

In [ ]:
# 120. 리스트의 모든 요소를 인덱스와 쌍으로 추출하기(enumerate)

solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

## enumerate와 list
ret = list(enumerate(solarsys))
print(ret)


## enumerate와 for문
for i, body in enumerate(solarsys):
  print('태양계의 %d번째 천체: %s' %(i, body))

## 여기서 for 문을 쓰는 것과 list로 쓰는 것의 차이가 나옴
## solarsys의 enumerate 객체와 for문을 활용한 예에서 알 수 있듯이, for문의 in 다음에 enumerate 객체같은 반복 가능한 자료가 올 수 있다. 
## 앞의 예에서 보듯이 반복 가능한 자료는 list()를 이용해 리스트 자료로 변환될 수 있다.

[(0, '태양'), (1, '수성'), (2, '금성'), (3, '지구'), (4, '화성'), (5, '목성'), (6, '토성'), (7, '천왕성'), (8, '해왕성')]
태양계의 0번째 천체: 태양
태양계의 1번째 천체: 수성
태양계의 2번째 천체: 금성
태양계의 3번째 천체: 지구
태양계의 4번째 천체: 화성
태양계의 5번째 천체: 목성
태양계의 6번째 천체: 토성
태양계의 7번째 천체: 천왕성
태양계의 8번째 천체: 해왕성

In [ ]:
# 121. 리스트의 모든 요소의 합 구하기 (sum)

listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
ret = sum(listdata)
print(ret)

65

In [ ]:
# 122. 리스트 요소가 모두 참인지 확인하기 (all, any)

listdata1 = [0, 1, 2, 3, 4]
listdata2 = [True, True, True]
listdata3 = ['', [], (), {}, None, False]
print(all(listdata1))
print(any(listdata1))
print(any(listdata2))
print(any(listdata2))
print(all(listdata3))
print(any(listdata3))

# all()은 리스트 안의 모든 요소가 참이어야 True, 아니면 False
# any()는 리스트 안의 모든 요소가 거짓이어야 False, 아니면 True

## 파이썬에서 참과 거짓은 True와 False로 표현하지만 다음의 값들은 모두 거짓을 의미함
# 숫자 0
# 빈 문자열 '', ""
# 빈 리스트 []
# 빈 튜플 ()
# 빈 사전 {}
# None

## 이외, 0이 아닌 숫자나 한 문자 이상의 문자열, 요소를 가진 리스트, 튜플, 사전 등은 모두 참이다.

False
True
True
True
False
False

## 딕셔너리 {}

In [ ]:
# 123. 사전에 요소 추가하기

## 사전은 요소끼리 순서가 없음
## 사전의 요소 {키:값}
## 그래서 사전은 인덱스가 아닌 키값으로 해당 요소의 값에 접근할 수 있음

solar1 = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solar2 = ['Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Satrun', 'Uranus', 'Neptune']
solardict = {}
for i, k in enumerate(solar1):
  val = solar2[i]
  solardict[k] = val

## 사전에 새로운 요소 k2:val2 를 추가하는 방법은 다음과 같음 => dict[k2] = val2

print(solardict)

{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Satrun', '천왕성': 'Uranus', '해왕성': 'Neptune'}

In [ ]:
# 124. 사전의 특정 요소값 변경하기

names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
         'Michale':27115, 'Bob':5887, 'Kelly':7855}
names['Aimy'] = 10000
print(names)

{'Mary': 10999, 'Sams': 2111, 'Aimy': 10000, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}

In [ ]:
# 125. 사전의 특정 요소 제거하기 (del)

names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
         'Michale':27115, 'Bob':5887, 'Kelly':7855}
del names['Sams']
print(names)

{'Mary': 10999, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}

In [ ]:
# 126. 사전의 모든 요소 제거하기 (clear)

names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
         'Michale':27115, 'Bob':5887, 'Kelly':7855}
names.clear()
print(names)

{}

In [ ]:
# 127. 사전에서 키만 추출하기 (keys)

names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
         'Michale':27115, 'Bob':5887, 'Kelly':7855}
ks = names.keys()
print(ks)

for k in ks:
  print('Key: %s \tValue:%d' %(k, names[k]))

dict_keys(['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly'])
Key: Mary 	Value:10999
Key: Sams 	Value:2111
Key: Aimy 	Value:9778
Key: Tom 	Value:20245
Key: Michale 	Value:27115
Key: Bob 	Value:5887
Key: Kelly 	Value:7855

In [ ]:
# 128. 사전에서 값만 추출하기 (values)

names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
         'Michale':27115, 'Bob':5887, 'Kelly':7855}
vals = names.values()
print(vals)

vals_list = list(vals)  # 사전 뷰 객체(Dictionary View Object)는 사전의 키나 값 등을 동적으로 보여주는 기능을 함. dict_values 객체는 list() 함수의 인자로 입력되어 리스트로 변환된다.
ret = sum(vals_list)
print('출생아 수 총계: %d' %ret)

dict_values([10999, 2111, 9778, 20245, 27115, 5887, 7855])
출생아 수 총계: 83990

In [ ]:
# 129. 사전 요소를 모두 추출하기 (items)

names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
         'Michale':27115, 'Bob':5887, 'Kelly':7855}
items = names.items()
print(items)

for item in items:
  print(item)

dict_items([('Mary', 10999), ('Sams', 2111), ('Aimy', 9778), ('Tom', 20245), ('Michale', 27115), ('Bob', 5887), ('Kelly', 7855)])
('Mary', 10999)
('Sams', 2111)
('Aimy', 9778)
('Tom', 20245)
('Michale', 27115)
('Bob', 5887)
('Kelly', 7855)

In [ ]:
# 130. 사전에 특정 키가 존재하는지 확인하기 (in)

names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
         'Michale':27115, 'Bob':5887, 'Kelly':7855}
k = input('이름을 입력하세요:')
if k in names:
  print('이름이 <%s>인 출생아 수는 <%d>명입니다.' %(k, names[k]))
else:
  print('자료에 <%s>인 이름이 존재하지 않습니다.' %k)


## 사전 dict에 k가 키로 있는지 없는지 확인하는 방법은 다음과 같다. 
## k in dict

이름을 입력하세요:남동욱
자료에 <남동욱>인 이름이 존재하지 않습니다.

In [ ]:
## 130-1. 사전에 특정 값이 존재하는지 확인하는 방법은 앞서 배운 values()를 이용하는 것이다.

names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
         'Michale':27115, 'Bob':5887, 'Kelly':7855}
if 2111 in names.values():
  print('주어진 값이 사전에 존재합니다.')
else:
  print('주어진 값이 사전에 존재하지 안습니다.')

주어진 값이 사전에 존재합니다.

In [ ]:
# 131. 사전 정렬하기(sorted)

names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
         'Michale':27115, 'Bob':5887, 'Kelly':7855}
ret1 = sorted(names)
print(ret1)


# sorted()는 key 인자를 이용하여 정렬할 기준이 되는 값을 지정해줄 수 있다. sorted()의 key 인자로 지정되는 값은 반드시 함수이어야 하며, 이 함수의 처리 결과를 기준으로 정렬해준다.
def f1(x):
  return x[0]

def f2(x):
  return x[1]

ret2 = sorted(names.items(), key = f1)
print(ret2)

ret3 = sorted(names.items(), key = f2)
print(ret3)

ret4 = sorted(names.items(), key = f2, reverse = True)
print(ret4)

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']
[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]
[('Sams', 2111), ('Bob', 5887), ('Kelly', 7855), ('Aimy', 9778), ('Mary', 10999), ('Tom', 20245), ('Michale', 27115)]
[('Michale', 27115), ('Tom', 20245), ('Mary', 10999), ('Aimy', 9778), ('Kelly', 7855), ('Bob', 5887), ('Sams', 2111)]

In [ ]:
# 132. 문자 코드값 구하기(ord)

ch = input('문자를 1개 입력하세요:')
if len(ch) !=0:
  ch = ch[0]
  chv = ord(ch)
  print('문자: %s \t코드값: %d[%s]' %(ch, chv, hex(chv)))

문자를 1개 입력하세요:a
문자: a 	코드값: 97[0x61]

In [ ]:
# 133. 코드값에 대응하는 문자 얻기 (chr)

val = input('문자 코드값을 입력하세요:')
val = int(val)
try:
  ch = chr(val)
  print('코드값: %d [%s], 문자: %s' %(val, hex(val), ch))
except ValueError:
  print('입력한 <%d>에 대한 문자가 존재하지 않습니다!' %val)

문자 코드값을 입력하세요:114
코드값: 114 [0x72], 문자: r

In [ ]:
# 134. 문자열로 된 식을 실행하기 (eval)

expr1 = '2+3'
expr2 = 'round(3.7)'
ret1 = eval(expr1)
ret2 = eval(expr2)
print('<%s>를 eval()로 실행한 결과:' %expr1, end=''); print(ret1)
print('<%s>를 eval()로 실행한 결과:' %expr2, end=''); print(ret2)

<2+3>를 eval()로 실행한 결과:5
<round(3.7)>를 eval()로 실행한 결과:4

In [ ]:
# 135. 이름없는 한줄짜리 함수 만들기 (lambda)

## lambda 함수는 파이썬에서 일반적인 함수 정의 방법과는 다르게 함수이름 없이 한줄로 간단하게 정의되는 함수이다.
## lambda 함수를 정의하는 방법은 다음과 같음
## lambda 인자, 인자, ... : 실행 코드

add = lambda x,y:x+y
ret = add(1,3)
print(ret)

## lambda 함수는 리스트의 요소가 될 수 있음
funcs = [lambda x:x+'.pptx', lambda x:x+'.docx']
ret1 = funcs[0]('intro')
ret2 = funcs[1]('Report')
print(ret1)
print(ret2)

## 오름차순으로 정렬에 lambda 활용하기
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
         'Michale':27115, 'Bob':5887, 'Kelly':7855}
ret3 = sorted(names.items(), key = lambda x:x[0])
print(ret3)

4
intro.pptx
Report.docx
[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]

In [ ]:
# 136. 인자를 바꾸어 함수를 반복 호출하여 결과값 얻기(map)

f = lambda x:x*x
args = [1, 2, 3, 4, 5]
ret = map(f, args)
print(list(ret))

[1, 4, 9, 16, 25]

In [ ]:
## 136-1. 
## map()은 두 개 이상의 반복되는 인자에 대해서도 적용이 가능하다. 
## 예를 들어, X = {1, 2, 3, 4, 5}, Y = {10, 9, 8, 7, 6}에 대해 f(X, Y) = X2 + Y 의 결과를 구하는 코드는 다음과 같이 구현할 수 있다.

f = lambda x, y:x*x+y
X = [1, 2, 3, 4, 5]
Y = [10, 9, 8, 7, 6]
ret = map(f, X, Y)
print(list(ret))

[11, 13, 17, 23, 31]

# Part4. Python 프로그래밍 응용 다지기

In [ ]:
# 137. 텍스트 파일을 읽고 출력하기 (read)

f = open('stockcode.txt', 'r', encoding='euc-kr')  # 웹에서 가지고 온 문서를 utf-8 인코딩으로 열릴 수 있도록 encoding='euc-kr'로 인코딩
data = f.read()
print(data)
f.close()

000020 동화약품
000040 S&T모터스
000050 경방
000060 메리츠화재
000070 삼양사
000071 삼양사우
000100 유한양행
000101 유한양행우
000120 대한통운
000140 하이트홀딩스
000141 하이트홀딩스우
000150 두산
000151 두산우
000152 두산2우B
000180 성창기업지주
000210 대림산업
000211 대림산업우
000220 유유제약
000221 유유제약1우
000222 유유제약2우B
000230 일동제약
000240 한국타이어
000270 기아차
000300 대유신소재
000320 디피아이홀딩스
000321 디피아이홀딩스우
000322 디피아이홀딩스2B
000360 삼환기업
000361 삼환기업우
000370 한화손해보험
000390 삼화페인트
000400 롯데손해보험
000420 로케트전기
000421 로케트전우
000430 대원강업
000470 그린손해보험
000480 조선내화
000490 대동공업
000500 가온전선
000520 삼일제약
000540 흥국쌍용화재
000541 흥국쌍용화재우
000542 흥국쌍용화재2우B
000590 조선선재
000610 제일화재
000640 동아제약
000650 천일고속
000660 하이닉스
000670 영풍
000680 LS네트웍스
000681 LS네트웍스우
000700 한진해운
000720 현대건설
000721 현대건설우
000760 이화산업
000790 C&상선
000800 경남기업
000810 삼성화재
000811 삼성화재우
000830 삼성물산
000831 삼성물산우
000850 화천기공
000860 건설화학
000880 한화
000881 한화우
000890 보해양조
000891 보해양조우
000910 유니온
000950 전방
000970 한국주철관
000990 동부하이텍
000991 동부하이텍1우
000992 동부하이텍2우B
001020 페이퍼코리아
001040 CJ
001041 CJ우
001042 CJ2우B
001043 CJ3우B
001060 중외제약
001061 중외제약우
001062 중외제약2우B
001070 대한방직
001080 만호제강
001120 LG상사
001130 대한제분
001140 국보
001190 마이크로닉스
001200 유진투자증권
001210 금호전기
001230 동국제강
001250 쌍용
001260 남광토건
001270 부국증권
001271 부국증권우
001290 골든브릿지증권
001300 제일모직
001310 풍림산업
001340 백광산업
001360 삼성제약
001370 FnC코오롱
001371 FnC코오롱우
001380 SG글로벌
001381 SG글로벌우
001390 KG케미칼
001420 태원물산
001430 세아베스틸
001440 대한전선
001450 현대해상
001460 BYC
001461 BYC우
001470 삼부토건
001500 HMC투자증권
001510 SK증권
001511 SK증권우
001520 동양메이저
001521 동양메이저우
001522 동양메이저2우B
001523 동양메이저3우B
001530 동일방직
001550 조비
001560 제일연마
001570 금양
001600 서광건설
001620 동국실업
001630 종근당
001680 대상
001681 대상우
001682 대상2우B
001683 대상3우B
001720 신영증권
001721 신영증권우
001740 SK네트웍스
001741 SK네트웍스우
001750 한양증권
001751 한양증권우
001770 신화실업
001780 동양강철
001790 대한제당
001791 대한제당우
001800 오리온
001820 삼화콘덴서
001880 삼호
001940 KISCO홀딩스
001950 남한제지
001951 남한제지우
001970 신성건설
001971 신성건설우
002000 한국유리
002001 한국유리우
002020 코오롱
002021 코오롱우
002022 코오롱2우B
002030 아세아시멘트
002070 남영L&F
002100 경농
002140 고려산업
002170 삼양통상
002200 수출포장
002210 동성제약
002220 한일철강
002240 고려제강
002250 근화제약
002270 롯데삼강
002300 한국제지
002310 아세아제지
002320 한진
002350 넥센타이어
002351 넥센타이어1우B
002360 SH에너지화학
002361 SH에너지화학우
002380 KCC
002390 한독약품
002410 범양건영
002420 세기상사
002450 삼익악기
002460 화성산업
002530 벽산건설
002531 벽산건설우
002540 고제
002550 LIG손해보험
002600 조흥
002620 제일약품
002630 오리엔트바이오
002700 신일산업
002710 동양석판
002720 국제약품
002760 보락
002780 진흥기업
002781 진흥기업우B
002782 진흥기업2우B
002790 태평양
002791 태평양우
002792 태평양2우B
002810 삼영무역
002820 선창산업
002840 미원상사
002870 신풍제지
002880 대유디엠씨
002900 동양물산
002920 유성기업
002960 한국쉘석유
002990 금호산업
002991 금호산업우
003000 부광약품
003010 혜인
003030 세아제강
003060 한국슈넬제약
003070 코오롱건설
003071 코오롱건우
003080 성보화학
003090 대웅
003120 일성신약
003160 디아이
003190 알앤엘바이오
003200 일신방직
003220 대원제약
003230 삼양식품
003240 태광산업
003280 흥아해운
003300 한일시멘트
003350 한국화장품
003410 쌍용양회
003411 쌍용양회우
003412 쌍용양회2우B
003413 쌍용양회3우B
003414 쌍용양회4우B
003415 쌍용양회5우B
003450 현대증권
003460 유화증권
003461 유화증권우
003470 동양종금증권
003471 동양종금증권1우
003480 한진중공업홀딩스
003490 대한항공
003491 대한항공우
003520 영진약품
003530 한화증권
003531 한화증권우
003540 대신증권
003541 대신증권우
003542 대신증권2우B
003550 LG
003551 LG우
003560 IHQ
003570 S&T중공업
003580 동원
003600 SK
003601 SK우
003610 방림
003620 쌍용차
003640 유니온스틸
003650 미창석유
003680 한성기업
003690 코리안리
003720 삼영화학
003780 진양산업
003830 대한화섬
003850 보령제약
003920 남양유업
003921 남양유업우
003940 삼양제넥스
003941 삼양제넥우
003960 사조대림
003961 사조대림우
003990 BHK
004000 삼성정밀화학
004010 롯데미도파
004020 현대제철
004021 현대제철
004060 에스지위카스
004080 신흥
004090 한국석유
004100 태양금속
004101 태양금속우
004130 대덕GDS
004131 대덕GDS우
004132 대덕GDS2우B
004140 동방
004142 동방전환상환2우B
004143 동방전환상환3우B
004150 한솔제지
004170 신세계
004200 고려개발
004230 세신
004250 내쇼날푸라스
004251 내쇼날푸우
004270 남성
004310 현대약품
004360 세방
004361 세방우
004362 세방2우B
004370 농심
004380 삼익THK
004410 서울식품
004411 서울식품우
004430 송원산업
004450 삼화왕관
004490 세방전지
004540 대한펄프
004541 대한펄프우
004550 대우차판매
004551 대우차판매1우
004560 BNG스틸
004561 BNG스틸우
004620 캠브리지
004690 삼천리
004700 조광피혁
004710 한솔LCD
004720 우리들생명과학
004740 보루네오
004770 써니전자
004800 효성
004820 조인에너지
004830 덕성
004831 덕성우
004840 동일벨트
004870 아인스
004890 동일산업
004910 조광페인트
004920 삼영홀딩스
004940 외환은행
004960 한신공영
004961 한신공영우
004970 신라교역
004980 성신양회
004981 성신양회우
004982 성신양회2우B
004983 성신양회3우B
004990 롯데제과
005010 휴스틸
005030 부산주공
005070 새한미디어
005090 삼광유리
005110 한창
005180 빙그레
005190 동성화학
005250 녹십자홀딩스
005251 녹십자홀딩스1우
005252 녹십자홀딩스2우
005270 대구은행
005280 부산은행
005300 롯데칠성
005301 롯데칠성우
005320 국동
005350 선우ST
005360 모나미
005380 현대차
005381 현대차우
005382 현대차2우B
005383 현대차3우B
005390 신성통상
005420 코스모화학
005430 한국공항
005440 현대H&S
005450 신한
005490 POSCO
005500 삼진제약
005560 JS전선
005610 삼립식품
005620 대성산업
005680 삼영전자
005690 로이
005720 넥센
005721 넥센우
005740 크라운제과
005741 크라운제우
005750 대림B&Co
005800 신영와코루
005810 풍산홀딩스
005820 원림
005830 동부화재
005850 에스엘
005870 휴니드
005880 대한해운
005900 동양건설
005930 삼성전자
005931 삼성전자우
005940 우리투자증권
005941 우리투자증권우
005950 이수화학
005960 동부건설
005961 동부건설우
005980 성지건설
006040 동원산업
006060 화승인더
006070 기린
006090 오양수산
006110 삼아알미늄
006120 SK케미칼
006121 SK케미칼우
006200 KEC홀딩스
006210 휴리프
006220 제주은행
006260 LS
006280 녹십자
006340 대원전선
006341 대원전선우
006350 전북은행
006360 GS건설
006370 대구백화점
006371 대구백화우
006380 카프로
006390 현대시멘트
006400 삼성SDI
006401 삼성SDI우
006440 한일건설
006490 로엔케이
006570 대림통상
006650 대한유화
006660 삼성공조
006740 영풍제지
006800 대우증권
006801 대우증권우
006840 애경유화
006890 태경화학
006980 우성사료
007050 유리이에스
007110 일신석재
007120 유니모테크
007160 사조산업
007190 이엔페이퍼
007191 이엔페이퍼우
007200 진흥저축은행
007210 벽산
007280 한국특수형강
007310 오뚜기
007340 동아타이어
007460 케이아이씨
007480 대한은박지
007490 태창기업
007540 샘표식품
007570 일양약품
007571 일양약품우
007590 동방아그로
007591 동방아그우
007610 선도전기
007630 지에스인스트루
007660 이수페타시스
007690 국도화학
007700 F&F
007800 솔로몬저축은행
007810 코리아써키트
007811 코리아써우
007860 한일이화
007980 태평양물산
008000 웅진케미칼
008020 경남에너지
008040 동아에스에프
008060 대덕전자
008080 삼양옵틱스
008110 대동전자
008250 이건산업
008260 NI스틸
008320 한국기술산업
008350 남선알미늄
008351 남선알미우
008400 C&중공업
008401 C&중공업우
008420 문배철강
008490 서흥캅셀
008500 일정실업
008540 일경
008560 메리츠증권
008600 미래와사람
008700 아남전자
008701 아남전자우
008720 삼양중기
008730 율촌화학
008770 호텔신라
008771 호텔신라우
008870 금비
008900 티이씨앤코
008930 한미약품
008970 동양철관
008971 동양철관우
009070 KCTC
009140 경인전자
009150 삼성전기
009151 삼성전기우
009160 SIMPAC
009180 한솔CSN
009190 대양금속
009200 무림페이퍼
009240 한샘
009270 신원
009271 신원우
009280 다함이텍
009290 광동제약
009310 참앤씨
009320 대우부품
009380 아세아페이퍼텍
009381 아세아페우B
009410 태영건설
009411 태영건설우
009420 한올제약
009440 KC코트렐
009450 경동나비엔
009460 한창제지
009470 삼화전기
009540 현대중공업
009580 동해펄프
009680 모토닉
009690 케이엠에이치
009720 전기초자
009770 삼정펄프
009810 고려포리머
009811 고려포리머우
009830 한화석화
009831 한화석화1우
009970 영원무역
010040 한국내화
010050 금호종금
010060 동양제철화학
010100 한국프랜지
010120 LS산전
010130 고려아연
010140 삼성중공업
010141 삼성중공우
010420 한솔PNS
010460 한국개발금융
010520 현대하이스코
010580 지코
010600 영창실업
010620 현대미포조선
010640 진양폴리
010660 화천기계
010690 화신
010770 평화홀딩스
010780 아이에스동서
010820 퍼스텍
010950 S-Oil
010951 S-Oil우
010960 삼호개발
011000 VGX인터
011050 케드콤
011070 LG이노텍
011090 에넥스
011150 삼호F&G
011151 삼호F&G1우
011160 두산건설
011170 호남석유
011200 현대상선
011230 삼화전자
011280 태림포장
011300 성안
011330 유니켐
011390 부산산업
011400 케이씨오에너지
011420 IB스포츠
011500 한농화성
011690 유양디앤유
011700 한신기계
011720 현대피앤씨
011760 현대상사
011780 금호석유
011781 금호석유우
011790 SKC
011800 배명금속
011810 STX
011930 신성홀딩스
012030 동부정밀
012090 성원건설
012091 성원건설우
012170 한신DNP
012200 계양전기
012201 계양전기우
012280 영화금속
012320 경동가스
012330 현대모비스
012331 현대모비스우
012400 옵티머스
012401 옵티머스우
012410 청호전자통신
012420 메리츠종금
012450 삼성테크윈
012510 더존비즈온
012580 톰보이
012600 청호컴넷
012610 경인양행
012630 현대산업
012690 모나리자
012750 에스원
012800 대창공업
012801 대창공업우
013000 세우글로벌
013001 세우글로벌우
013200 C&우방
013240 셀런
013360 일성건설
013361 일성건설우B
013362 일성건설2우B
013520 화승알앤에이
013570 동양기전
013580 계룡건설
013700 삼환까뮤
014130 한익스프레스
014160 대영포장
014280 금강공업
014281 금강공업우
014300 선진
014350 신일건업
014440 영보화학
014530 극동유화
014580 백광소재
014590 티엘씨레저
014680 한솔케미칼
014790 한라건설
014820 동원시스템즈
014821 동원시스템즈우
014830 유니드
014910 성문전자
014911 성문전자우
014990 인디에프
015020 이스타코
015110 중앙건설
015230 대창단조
015260 에이엔피
015350 부산가스
015360 예스코
015540 웰스브릿지
015541 웰스브릿지우
015590 대경기계
015760 한국전력
015860 일진홀딩스
015890 태경산업
015940 LG데이콤
016090 대현
016160 오라에너지
016162 오라에너지2우B
016360 삼성증권
016380 동부제철
016381 동부제철우
016420 NH투자증권
016450 한세예스24홀딩스
016510 현대DSF
016560 서울저축은행
016570 태평양제약
016571 태평양제우
016580 환인제약
016590 신대양제지
016610 동부증권
016710 대구가스
016800 퍼시스
016880 웅진홀딩스
017040 광명전기
017170 프라임엔터
017180 명문제약
017300 KDS
017370 우신시스템
017390 서울가스
017550 수산중공업
017551 수산중공우
017670 SK텔레콤
017800 현대엘리베이
017810 풀무원홀딩스
017900 광전자
017940 E1
017960 한국카본
018410 현대금속
018411 현대금속우
018412 현대금속2우B
018470 조일알미늄
018500 동원금속
018670 SK가스
018880 한라공조
019170 신풍제약
019171 신풍제약우
019180 티에이치엔
019300 동일제지
019490 하이트론
019680 대교
019681 대교우B
020000 한섬
020120 인큐브테크
020560 아시아나항공
020760 일진디스플
021050 서원
021240 웅진코웨이
021820 세원정공
021960 우리파이낸셜
023150 MH에탄올
023450 동남합성
023530 롯데쇼핑
023590 다우기술
023800 인지컨트롤스
023810 인팩
023960 에쓰씨엔지니어링
024070 WISCOM
024090 디씨엠
024100 제일저축은행
024110 기업은행
024720 한국콜마
024870 유성티에스아이
024890 대원화성
024900 덕양산업
025000 KPX케미칼
025530 SJM
025540 한국단자
025560 미래산업
025610 한국저축은행
025620 신우
025750 한솔홈데코
025820 이구산업
025850 KPX화인케미칼
025860 남해화학
025890 한국주강
026870 대한가스
026890 디피씨
026940 부국철강
027390 한화타임월드
027740 마니커
027840 고덴시
027970 세하
028050 삼성엔지니어링
028670 STX팬오션
029460 케이씨텍
029530 신도리코
029780 삼성카드
030000 제일기획
030200 KT
030210 KTB투자증권
030610 교보증권
030720 동원수산
031820 콤텍시스템
032350 롯데관광개발
032390 KTF
032640 LG텔레콤
033180 필룩스
033240 자화전자
033250 체시스
033270 유나이티드제약
033530 세종공업
033780 KT&G
034020 두산중공업
034120 SBS
034220 LG디스플레이
034300 신세계건설
034310 한신정
034590 인천도시가스
035000 GⅡR
035150 백산
035250 강원랜드
035420 NHN
035510 신세계
036460 한국가스공사
036530 S&T홀딩스
036570 엔씨소프트
036580 대상팜스코
036581 대상팜스코우B
037270 휘닉스컴
037620 미래에셋증권
037710 광주신세계
041650 상신브레이크
042100 현대오토넷
042660 대우조선해양
042670 두산인프라코어
042700 한미반도체
044380 주연테크
044450 KSS해운
044820 코스맥스
045710 온미디어
045820 LG파워콤
047040 대우건설
047050 대우인터내셔널
049770 동원F&B
049800 우진세렉스
051310 성진지오텍
051600 한전KPS
051630 진양화학
051900 LG생활건강
051901 LG생활건강우
051910 LG화학
051911 LG화학우
053000 우리금융
055550 신한지주
058430 포스코강판
058650 세아홀딩스
058730 동아에스텍
063160 종근당바이오
064420 케이피케미칼
064960 S&T대우
066570 LG전자
066571 LG전자우
067250 STX조선
067830 세이브존I&C
068290 삼성출판사
068870 LG생명과학
068871 LG생명과학우
069260 휴켐스
069460 대호에이엘
069470 제로원인터랙티브
069620 대웅제약
069730 DSR제강
069960 현대백화점
071050 한국금융지주
071051 한국금융지주우
071052 한국금융지주2우B
071090 하이스틸
071950 코아스웰
071951 코아스웰1우B
072130 유엔젤
072710 농심홀딩스
073240 금호타이어
074610 이엔쓰리
075180 새론오토모티브
076170 GBS
076850 맥쿼리센트럴
077500 유니퀘스트
077970 STX엔진
078000 텔코웨어
078420 동북아1호
078930 GS
078931 GS우
079160 CJ
079430 리바트
079660 사조해표
080030 동북아2호
080180 아시아1호
080410 동북아6호
080960 동북아3호
080970 동북아4호
080980 동북아5호
081000 일진다이아
081190 아시아2호
081200 아시아3호
081210 아시아4호
081930 아시아8호
081940 아시아9호
082110 동북아8호
082240 아시아5호
082250 아시아6호
082260 아시아7호
083120 동북아9호
083350 동북아10호
083360 동북아11호
083370 동북아12호
083380 동북아13호
083390 동북아14호
083420 KPX그린케미칼
083570 아시아10호
083580 아시아11호
083590 아시아12호
083600 아시아13호
083610 아시아14호
083620 아시아15호
084010 대한제강
084160 골든경매일호
084240 동북아15호
084670 동양고속
084680 C&우방랜드
084690 대상홀딩스
084691 대상홀딩스우
084692 대상홀딩스2우B
084870 베이직하우스
085310 엔케이
086280 글로비스
086720 코크렙7호
086790 하나금융지주
088010 동북아21호
088790 진도에프앤
088980 맥쿼리인프라
089470 현대EP
090080 평화산업
090350 노루페인트
090351 노루페인트우
090370 아비스타
090430 아모레퍼시픽
090431 아모레퍼시픽우
090540 코크렙8호
090970 코리아01호
090980 코리아02호
090990 코리아03호
091000 코리아04호
091090 세원셀론텍
092200 디아이씨
092220 KEC
092230 KPX홀딩스
092440 기신정기
092630 바다로3호
092970 거북선1호
093050 LG패션
093230 쉘라인
093370 후성
093400 코리아05호
093410 코리아06호
093730 동북아31호
093820 한국유전15-1
094280 효성ITX
094520 맵스베트남1
094800 맵스리얼티1
094950 지비베트남1
095720 웅진씽크빅
096300 베트남개발1
096760 중외홀딩스
096770 SK에너지
096771 SK에너지우
097230 한진중공업
097950 CJ제일제당
097951 CJ제일제당
097952 CJ제일제당
097953 CJ제일제당
098150 한국아태특별
099210 코리아07호
099340 하나니켈1호
099350 하나니켈2호
100220 비유와상징
100250 진양홀딩스
100840 S&TC
101060 SBS홀딩스
101140 아티스
101380 거북선2호
101790 케이알제2호
101990 파브코
102000 거북선3호
102260 동성홀딩스
102280 트라이
103140 풍산
103150 하이트맥주
103151 하이트맥주우
103160 풀무원
103590 일진전기
104110 신성ENG
104120 신성FA
104700 한국철강
105560 KB금융
107590 미원에스씨

In [ ]:
# 138. 텍스트 파일을 한줄씩 읽고 출력하기 1 (readline)

f = open('stockcode.txt', 'r', encoding='euc-kr')
line_num = 0
line = f.readline()
while line:
  print('%d %s' %(line_num, line),end = '')  
  # 읽어들인 한 줄에는 줄바꿈 기호인 '\n'이 포함되어 있으므로 print()의 두 번째 인자에 end = ''를 입력하여 다음 줄을 출력할 때 비어있는 줄이 생기지 않도록 함
  line = f.readline()
  line_num += 1
f.close()

0 000020 동화약품
1 000040 S&T모터스
2 000050 경방
3 000060 메리츠화재
4 000070 삼양사
5 000071 삼양사우
6 000100 유한양행
7 000101 유한양행우
8 000120 대한통운
9 000140 하이트홀딩스
10 000141 하이트홀딩스우
11 000150 두산
12 000151 두산우
13 000152 두산2우B
14 000180 성창기업지주
15 000210 대림산업
16 000211 대림산업우
17 000220 유유제약
18 000221 유유제약1우
19 000222 유유제약2우B
20 000230 일동제약
21 000240 한국타이어
22 000270 기아차
23 000300 대유신소재
24 000320 디피아이홀딩스
25 000321 디피아이홀딩스우
26 000322 디피아이홀딩스2B
27 000360 삼환기업
28 000361 삼환기업우
29 000370 한화손해보험
30 000390 삼화페인트
31 000400 롯데손해보험
32 000420 로케트전기
33 000421 로케트전우
34 000430 대원강업
35 000470 그린손해보험
36 000480 조선내화
37 000490 대동공업
38 000500 가온전선
39 000520 삼일제약
40 000540 흥국쌍용화재
41 000541 흥국쌍용화재우
42 000542 흥국쌍용화재2우B
43 000590 조선선재
44 000610 제일화재
45 000640 동아제약
46 000650 천일고속
47 000660 하이닉스
48 000670 영풍
49 000680 LS네트웍스
50 000681 LS네트웍스우
51 000700 한진해운
52 000720 현대건설
53 000721 현대건설우
54 000760 이화산업
55 000790 C&상선
56 000800 경남기업
57 000810 삼성화재
58 000811 삼성화재우
59 000830 삼성물산
60 000831 삼성물산우
61 000850 화천기공
62 000860 건설화학
63 000880 한화
64 000881 한화우
65 000890 보해양조
66 000891 보해양조우
67 000910 유니온
68 000950 전방
69 000970 한국주철관
70 000990 동부하이텍
71 000991 동부하이텍1우
72 000992 동부하이텍2우B
73 001020 페이퍼코리아
74 001040 CJ
75 001041 CJ우
76 001042 CJ2우B
77 001043 CJ3우B
78 001060 중외제약
79 001061 중외제약우
80 001062 중외제약2우B
81 001070 대한방직
82 001080 만호제강
83 001120 LG상사
84 001130 대한제분
85 001140 국보
86 001190 마이크로닉스
87 001200 유진투자증권
88 001210 금호전기
89 001230 동국제강
90 001250 쌍용
91 001260 남광토건
92 001270 부국증권
93 001271 부국증권우
94 001290 골든브릿지증권
95 001300 제일모직
96 001310 풍림산업
97 001340 백광산업
98 001360 삼성제약
99 001370 FnC코오롱
100 001371 FnC코오롱우
101 001380 SG글로벌
102 001381 SG글로벌우
103 001390 KG케미칼
104 001420 태원물산
105 001430 세아베스틸
106 001440 대한전선
107 001450 현대해상
108 001460 BYC
109 001461 BYC우
110 001470 삼부토건
111 001500 HMC투자증권
112 001510 SK증권
113 001511 SK증권우
114 001520 동양메이저
115 001521 동양메이저우
116 001522 동양메이저2우B
117 001523 동양메이저3우B
118 001530 동일방직
119 001550 조비
120 001560 제일연마
121 001570 금양
122 001600 서광건설
123 001620 동국실업
124 001630 종근당
125 001680 대상
126 001681 대상우
127 001682 대상2우B
128 001683 대상3우B
129 001720 신영증권
130 001721 신영증권우
131 001740 SK네트웍스
132 001741 SK네트웍스우
133 001750 한양증권
134 001751 한양증권우
135 001770 신화실업
136 001780 동양강철
137 001790 대한제당
138 001791 대한제당우
139 001800 오리온
140 001820 삼화콘덴서
141 001880 삼호
142 001940 KISCO홀딩스
143 001950 남한제지
144 001951 남한제지우
145 001970 신성건설
146 001971 신성건설우
147 002000 한국유리
148 002001 한국유리우
149 002020 코오롱
150 002021 코오롱우
151 002022 코오롱2우B
152 002030 아세아시멘트
153 002070 남영L&F
154 002100 경농
155 002140 고려산업
156 002170 삼양통상
157 002200 수출포장
158 002210 동성제약
159 002220 한일철강
160 002240 고려제강
161 002250 근화제약
162 002270 롯데삼강
163 002300 한국제지
164 002310 아세아제지
165 002320 한진
166 002350 넥센타이어
167 002351 넥센타이어1우B
168 002360 SH에너지화학
169 002361 SH에너지화학우
170 002380 KCC
171 002390 한독약품
172 002410 범양건영
173 002420 세기상사
174 002450 삼익악기
175 002460 화성산업
176 002530 벽산건설
177 002531 벽산건설우
178 002540 고제
179 002550 LIG손해보험
180 002600 조흥
181 002620 제일약품
182 002630 오리엔트바이오
183 002700 신일산업
184 002710 동양석판
185 002720 국제약품
186 002760 보락
187 002780 진흥기업
188 002781 진흥기업우B
189 002782 진흥기업2우B
190 002790 태평양
191 002791 태평양우
192 002792 태평양2우B
193 002810 삼영무역
194 002820 선창산업
195 002840 미원상사
196 002870 신풍제지
197 002880 대유디엠씨
198 002900 동양물산
199 002920 유성기업
200 002960 한국쉘석유
201 002990 금호산업
202 002991 금호산업우
203 003000 부광약품
204 003010 혜인
205 003030 세아제강
206 003060 한국슈넬제약
207 003070 코오롱건설
208 003071 코오롱건우
209 003080 성보화학
210 003090 대웅
211 003120 일성신약
212 003160 디아이
213 003190 알앤엘바이오
214 003200 일신방직
215 003220 대원제약
216 003230 삼양식품
217 003240 태광산업
218 003280 흥아해운
219 003300 한일시멘트
220 003350 한국화장품
221 003410 쌍용양회
222 003411 쌍용양회우
223 003412 쌍용양회2우B
224 003413 쌍용양회3우B
225 003414 쌍용양회4우B
226 003415 쌍용양회5우B
227 003450 현대증권
228 003460 유화증권
229 003461 유화증권우
230 003470 동양종금증권
231 003471 동양종금증권1우
232 003480 한진중공업홀딩스
233 003490 대한항공
234 003491 대한항공우
235 003520 영진약품
236 003530 한화증권
237 003531 한화증권우
238 003540 대신증권
239 003541 대신증권우
240 003542 대신증권2우B
241 003550 LG
242 003551 LG우
243 003560 IHQ
244 003570 S&T중공업
245 003580 동원
246 003600 SK
247 003601 SK우
248 003610 방림
249 003620 쌍용차
250 003640 유니온스틸
251 003650 미창석유
252 003680 한성기업
253 003690 코리안리
254 003720 삼영화학
255 003780 진양산업
256 003830 대한화섬
257 003850 보령제약
258 003920 남양유업
259 003921 남양유업우
260 003940 삼양제넥스
261 003941 삼양제넥우
262 003960 사조대림
263 003961 사조대림우
264 003990 BHK
265 004000 삼성정밀화학
266 004010 롯데미도파
267 004020 현대제철
268 004021 현대제철
269 004060 에스지위카스
270 004080 신흥
271 004090 한국석유
272 004100 태양금속
273 004101 태양금속우
274 004130 대덕GDS
275 004131 대덕GDS우
276 004132 대덕GDS2우B
277 004140 동방
278 004142 동방전환상환2우B
279 004143 동방전환상환3우B
280 004150 한솔제지
281 004170 신세계
282 004200 고려개발
283 004230 세신
284 004250 내쇼날푸라스
285 004251 내쇼날푸우
286 004270 남성
287 004310 현대약품
288 004360 세방
289 004361 세방우
290 004362 세방2우B
291 004370 농심
292 004380 삼익THK
293 004410 서울식품
294 004411 서울식품우
295 004430 송원산업
296 004450 삼화왕관
297 004490 세방전지
298 004540 대한펄프
299 004541 대한펄프우
300 004550 대우차판매
301 004551 대우차판매1우
302 004560 BNG스틸
303 004561 BNG스틸우
304 004620 캠브리지
305 004690 삼천리
306 004700 조광피혁
307 004710 한솔LCD
308 004720 우리들생명과학
309 004740 보루네오
310 004770 써니전자
311 004800 효성
312 004820 조인에너지
313 004830 덕성
314 004831 덕성우
315 004840 동일벨트
316 004870 아인스
317 004890 동일산업
318 004910 조광페인트
319 004920 삼영홀딩스
320 004940 외환은행
321 004960 한신공영
322 004961 한신공영우
323 004970 신라교역
324 004980 성신양회
325 004981 성신양회우
326 004982 성신양회2우B
327 004983 성신양회3우B
328 004990 롯데제과
329 005010 휴스틸
330 005030 부산주공
331 005070 새한미디어
332 005090 삼광유리
333 005110 한창
334 005180 빙그레
335 005190 동성화학
336 005250 녹십자홀딩스
337 005251 녹십자홀딩스1우
338 005252 녹십자홀딩스2우
339 005270 대구은행
340 005280 부산은행
341 005300 롯데칠성
342 005301 롯데칠성우
343 005320 국동
344 005350 선우ST
345 005360 모나미
346 005380 현대차
347 005381 현대차우
348 005382 현대차2우B
349 005383 현대차3우B
350 005390 신성통상
351 005420 코스모화학
352 005430 한국공항
353 005440 현대H&S
354 005450 신한
355 005490 POSCO
356 005500 삼진제약
357 005560 JS전선
358 005610 삼립식품
359 005620 대성산업
360 005680 삼영전자
361 005690 로이
362 005720 넥센
363 005721 넥센우
364 005740 크라운제과
365 005741 크라운제우
366 005750 대림B&Co
367 005800 신영와코루
368 005810 풍산홀딩스
369 005820 원림
370 005830 동부화재
371 005850 에스엘
372 005870 휴니드
373 005880 대한해운
374 005900 동양건설
375 005930 삼성전자
376 005931 삼성전자우
377 005940 우리투자증권
378 005941 우리투자증권우
379 005950 이수화학
380 005960 동부건설
381 005961 동부건설우
382 005980 성지건설
383 006040 동원산업
384 006060 화승인더
385 006070 기린
386 006090 오양수산
387 006110 삼아알미늄
388 006120 SK케미칼
389 006121 SK케미칼우
390 006200 KEC홀딩스
391 006210 휴리프
392 006220 제주은행
393 006260 LS
394 006280 녹십자
395 006340 대원전선
396 006341 대원전선우
397 006350 전북은행
398 006360 GS건설
399 006370 대구백화점
400 006371 대구백화우
401 006380 카프로
402 006390 현대시멘트
403 006400 삼성SDI
404 006401 삼성SDI우
405 006440 한일건설
406 006490 로엔케이
407 006570 대림통상
408 006650 대한유화
409 006660 삼성공조
410 006740 영풍제지
411 006800 대우증권
412 006801 대우증권우
413 006840 애경유화
414 006890 태경화학
415 006980 우성사료
416 007050 유리이에스
417 007110 일신석재
418 007120 유니모테크
419 007160 사조산업
420 007190 이엔페이퍼
421 007191 이엔페이퍼우
422 007200 진흥저축은행
423 007210 벽산
424 007280 한국특수형강
425 007310 오뚜기
426 007340 동아타이어
427 007460 케이아이씨
428 007480 대한은박지
429 007490 태창기업
430 007540 샘표식품
431 007570 일양약품
432 007571 일양약품우
433 007590 동방아그로
434 007591 동방아그우
435 007610 선도전기
436 007630 지에스인스트루
437 007660 이수페타시스
438 007690 국도화학
439 007700 F&F
440 007800 솔로몬저축은행
441 007810 코리아써키트
442 007811 코리아써우
443 007860 한일이화
444 007980 태평양물산
445 008000 웅진케미칼
446 008020 경남에너지
447 008040 동아에스에프
448 008060 대덕전자
449 008080 삼양옵틱스
450 008110 대동전자
451 008250 이건산업
452 008260 NI스틸
453 008320 한국기술산업
454 008350 남선알미늄
455 008351 남선알미우
456 008400 C&중공업
457 008401 C&중공업우
458 008420 문배철강
459 008490 서흥캅셀
460 008500 일정실업
461 008540 일경
462 008560 메리츠증권
463 008600 미래와사람
464 008700 아남전자
465 008701 아남전자우
466 008720 삼양중기
467 008730 율촌화학
468 008770 호텔신라
469 008771 호텔신라우
470 008870 금비
471 008900 티이씨앤코
472 008930 한미약품
473 008970 동양철관
474 008971 동양철관우
475 009070 KCTC
476 009140 경인전자
477 009150 삼성전기
478 009151 삼성전기우
479 009160 SIMPAC
480 009180 한솔CSN
481 009190 대양금속
482 009200 무림페이퍼
483 009240 한샘
484 009270 신원
485 009271 신원우
486 009280 다함이텍
487 009290 광동제약
488 009310 참앤씨
489 009320 대우부품
490 009380 아세아페이퍼텍
491 009381 아세아페우B
492 009410 태영건설
493 009411 태영건설우
494 009420 한올제약
495 009440 KC코트렐
496 009450 경동나비엔
497 009460 한창제지
498 009470 삼화전기
499 009540 현대중공업
500 009580 동해펄프
501 009680 모토닉
502 009690 케이엠에이치
503 009720 전기초자
504 009770 삼정펄프
505 009810 고려포리머
506 009811 고려포리머우
507 009830 한화석화
508 009831 한화석화1우
509 009970 영원무역
510 010040 한국내화
511 010050 금호종금
512 010060 동양제철화학
513 010100 한국프랜지
514 010120 LS산전
515 010130 고려아연
516 010140 삼성중공업
517 010141 삼성중공우
518 010420 한솔PNS
519 010460 한국개발금융
520 010520 현대하이스코
521 010580 지코
522 010600 영창실업
523 010620 현대미포조선
524 010640 진양폴리
525 010660 화천기계
526 010690 화신
527 010770 평화홀딩스
528 010780 아이에스동서
529 010820 퍼스텍
530 010950 S-Oil
531 010951 S-Oil우
532 010960 삼호개발
533 011000 VGX인터
534 011050 케드콤
535 011070 LG이노텍
536 011090 에넥스
537 011150 삼호F&G
538 011151 삼호F&G1우
539 011160 두산건설
540 011170 호남석유
541 011200 현대상선
542 011230 삼화전자
543 011280 태림포장
544 011300 성안
545 011330 유니켐
546 011390 부산산업
547 011400 케이씨오에너지
548 011420 IB스포츠
549 011500 한농화성
550 011690 유양디앤유
551 011700 한신기계
552 011720 현대피앤씨
553 011760 현대상사
554 011780 금호석유
555 011781 금호석유우
556 011790 SKC
557 011800 배명금속
558 011810 STX
559 011930 신성홀딩스
560 012030 동부정밀
561 012090 성원건설
562 012091 성원건설우
563 012170 한신DNP
564 012200 계양전기
565 012201 계양전기우
566 012280 영화금속
567 012320 경동가스
568 012330 현대모비스
569 012331 현대모비스우
570 012400 옵티머스
571 012401 옵티머스우
572 012410 청호전자통신
573 012420 메리츠종금
574 012450 삼성테크윈
575 012510 더존비즈온
576 012580 톰보이
577 012600 청호컴넷
578 012610 경인양행
579 012630 현대산업
580 012690 모나리자
581 012750 에스원
582 012800 대창공업
583 012801 대창공업우
584 013000 세우글로벌
585 013001 세우글로벌우
586 013200 C&우방
587 013240 셀런
588 013360 일성건설
589 013361 일성건설우B
590 013362 일성건설2우B
591 013520 화승알앤에이
592 013570 동양기전
593 013580 계룡건설
594 013700 삼환까뮤
595 014130 한익스프레스
596 014160 대영포장
597 014280 금강공업
598 014281 금강공업우
599 014300 선진
600 014350 신일건업
601 014440 영보화학
602 014530 극동유화
603 014580 백광소재
604 014590 티엘씨레저
605 014680 한솔케미칼
606 014790 한라건설
607 014820 동원시스템즈
608 014821 동원시스템즈우
609 014830 유니드
610 014910 성문전자
611 014911 성문전자우
612 014990 인디에프
613 015020 이스타코
614 015110 중앙건설
615 015230 대창단조
616 015260 에이엔피
617 015350 부산가스
618 015360 예스코
619 015540 웰스브릿지
620 015541 웰스브릿지우
621 015590 대경기계
622 015760 한국전력
623 015860 일진홀딩스
624 015890 태경산업
625 015940 LG데이콤
626 016090 대현
627 016160 오라에너지
628 016162 오라에너지2우B
629 016360 삼성증권
630 016380 동부제철
631 016381 동부제철우
632 016420 NH투자증권
633 016450 한세예스24홀딩스
634 016510 현대DSF
635 016560 서울저축은행
636 016570 태평양제약
637 016571 태평양제우
638 016580 환인제약
639 016590 신대양제지
640 016610 동부증권
641 016710 대구가스
642 016800 퍼시스
643 016880 웅진홀딩스
644 017040 광명전기
645 017170 프라임엔터
646 017180 명문제약
647 017300 KDS
648 017370 우신시스템
649 017390 서울가스
650 017550 수산중공업
651 017551 수산중공우
652 017670 SK텔레콤
653 017800 현대엘리베이
654 017810 풀무원홀딩스
655 017900 광전자
656 017940 E1
657 017960 한국카본
658 018410 현대금속
659 018411 현대금속우
660 018412 현대금속2우B
661 018470 조일알미늄
662 018500 동원금속
663 018670 SK가스
664 018880 한라공조
665 019170 신풍제약
666 019171 신풍제약우
667 019180 티에이치엔
668 019300 동일제지
669 019490 하이트론
670 019680 대교
671 019681 대교우B
672 020000 한섬
673 020120 인큐브테크
674 020560 아시아나항공
675 020760 일진디스플
676 021050 서원
677 021240 웅진코웨이
678 021820 세원정공
679 021960 우리파이낸셜
680 023150 MH에탄올
681 023450 동남합성
682 023530 롯데쇼핑
683 023590 다우기술
684 023800 인지컨트롤스
685 023810 인팩
686 023960 에쓰씨엔지니어링
687 024070 WISCOM
688 024090 디씨엠
689 024100 제일저축은행
690 024110 기업은행
691 024720 한국콜마
692 024870 유성티에스아이
693 024890 대원화성
694 024900 덕양산업
695 025000 KPX케미칼
696 025530 SJM
697 025540 한국단자
698 025560 미래산업
699 025610 한국저축은행
700 025620 신우
701 025750 한솔홈데코
702 025820 이구산업
703 025850 KPX화인케미칼
704 025860 남해화학
705 025890 한국주강
706 026870 대한가스
707 026890 디피씨
708 026940 부국철강
709 027390 한화타임월드
710 027740 마니커
711 027840 고덴시
712 027970 세하
713 028050 삼성엔지니어링
714 028670 STX팬오션
715 029460 케이씨텍
716 029530 신도리코
717 029780 삼성카드
718 030000 제일기획
719 030200 KT
720 030210 KTB투자증권
721 030610 교보증권
722 030720 동원수산
723 031820 콤텍시스템
724 032350 롯데관광개발
725 032390 KTF
726 032640 LG텔레콤
727 033180 필룩스
728 033240 자화전자
729 033250 체시스
730 033270 유나이티드제약
731 033530 세종공업
732 033780 KT&G
733 034020 두산중공업
734 034120 SBS
735 034220 LG디스플레이
736 034300 신세계건설
737 034310 한신정
738 034590 인천도시가스
739 035000 GⅡR
740 035150 백산
741 035250 강원랜드
742 035420 NHN
743 035510 신세계
744 036460 한국가스공사
745 036530 S&T홀딩스
746 036570 엔씨소프트
747 036580 대상팜스코
748 036581 대상팜스코우B
749 037270 휘닉스컴
750 037620 미래에셋증권
751 037710 광주신세계
752 041650 상신브레이크
753 042100 현대오토넷
754 042660 대우조선해양
755 042670 두산인프라코어
756 042700 한미반도체
757 044380 주연테크
758 044450 KSS해운
759 044820 코스맥스
760 045710 온미디어
761 045820 LG파워콤
762 047040 대우건설
763 047050 대우인터내셔널
764 049770 동원F&B
765 049800 우진세렉스
766 051310 성진지오텍
767 051600 한전KPS
768 051630 진양화학
769 051900 LG생활건강
770 051901 LG생활건강우
771 051910 LG화학
772 051911 LG화학우
773 053000 우리금융
774 055550 신한지주
775 058430 포스코강판
776 058650 세아홀딩스
777 058730 동아에스텍
778 063160 종근당바이오
779 064420 케이피케미칼
780 064960 S&T대우
781 066570 LG전자
782 066571 LG전자우
783 067250 STX조선
784 067830 세이브존I&C
785 068290 삼성출판사
786 068870 LG생명과학
787 068871 LG생명과학우
788 069260 휴켐스
789 069460 대호에이엘
790 069470 제로원인터랙티브
791 069620 대웅제약
792 069730 DSR제강
793 069960 현대백화점
794 071050 한국금융지주
795 071051 한국금융지주우
796 071052 한국금융지주2우B
797 071090 하이스틸
798 071950 코아스웰
799 071951 코아스웰1우B
800 072130 유엔젤
801 072710 농심홀딩스
802 073240 금호타이어
803 074610 이엔쓰리
804 075180 새론오토모티브
805 076170 GBS
806 076850 맥쿼리센트럴
807 077500 유니퀘스트
808 077970 STX엔진
809 078000 텔코웨어
810 078420 동북아1호
811 078930 GS
812 078931 GS우
813 079160 CJ
814 079430 리바트
815 079660 사조해표
816 080030 동북아2호
817 080180 아시아1호
818 080410 동북아6호
819 080960 동북아3호
820 080970 동북아4호
821 080980 동북아5호
822 081000 일진다이아
823 081190 아시아2호
824 081200 아시아3호
825 081210 아시아4호
826 081930 아시아8호
827 081940 아시아9호
828 082110 동북아8호
829 082240 아시아5호
830 082250 아시아6호
831 082260 아시아7호
832 083120 동북아9호
833 083350 동북아10호
834 083360 동북아11호
835 083370 동북아12호
836 083380 동북아13호
837 083390 동북아14호
838 083420 KPX그린케미칼
839 083570 아시아10호
840 083580 아시아11호
841 083590 아시아12호
842 083600 아시아13호
843 083610 아시아14호
844 083620 아시아15호
845 084010 대한제강
846 084160 골든경매일호
847 084240 동북아15호
848 084670 동양고속
849 084680 C&우방랜드
850 084690 대상홀딩스
851 084691 대상홀딩스우
852 084692 대상홀딩스2우B
853 084870 베이직하우스
854 085310 엔케이
855 086280 글로비스
856 086720 코크렙7호
857 086790 하나금융지주
858 088010 동북아21호
859 088790 진도에프앤
860 088980 맥쿼리인프라
861 089470 현대EP
862 090080 평화산업
863 090350 노루페인트
864 090351 노루페인트우
865 090370 아비스타
866 090430 아모레퍼시픽
867 090431 아모레퍼시픽우
868 090540 코크렙8호
869 090970 코리아01호
870 090980 코리아02호
871 090990 코리아03호
872 091000 코리아04호
873 091090 세원셀론텍
874 092200 디아이씨
875 092220 KEC
876 092230 KPX홀딩스
877 092440 기신정기
878 092630 바다로3호
879 092970 거북선1호
880 093050 LG패션
881 093230 쉘라인
882 093370 후성
883 093400 코리아05호
884 093410 코리아06호
885 093730 동북아31호
886 093820 한국유전15-1
887 094280 효성ITX
888 094520 맵스베트남1
889 094800 맵스리얼티1
890 094950 지비베트남1
891 095720 웅진씽크빅
892 096300 베트남개발1
893 096760 중외홀딩스
894 096770 SK에너지
895 096771 SK에너지우
896 097230 한진중공업
897 097950 CJ제일제당
898 097951 CJ제일제당
899 097952 CJ제일제당
900 097953 CJ제일제당
901 098150 한국아태특별
902 099210 코리아07호
903 099340 하나니켈1호
904 099350 하나니켈2호
905 100220 비유와상징
906 100250 진양홀딩스
907 100840 S&TC
908 101060 SBS홀딩스
909 101140 아티스
910 101380 거북선2호
911 101790 케이알제2호
912 101990 파브코
913 102000 거북선3호
914 102260 동성홀딩스
915 102280 트라이
916 103140 풍산
917 103150 하이트맥주
918 103151 하이트맥주우
919 103160 풀무원
920 103590 일진전기
921 104110 신성ENG
922 104120 신성FA
923 104700 한국철강
924 105560 KB금융
925 107590 미원에스씨

In [ ]:
# 139. 텍스트 파일을 한줄씩 읽고 출력하기 2 (readlines)

f = open('stockcode.txt', 'r', encoding = 'euc-kr')
lines = f.readlines()
for line_num, line in enumerate(lines):
  print('%d %s' %(line_num+1, line), end = '')
  f.close()

1 000020 동화약품
2 000040 S&T모터스
3 000050 경방
4 000060 메리츠화재
5 000070 삼양사
6 000071 삼양사우
7 000100 유한양행
8 000101 유한양행우
9 000120 대한통운
10 000140 하이트홀딩스
11 000141 하이트홀딩스우
12 000150 두산
13 000151 두산우
14 000152 두산2우B
15 000180 성창기업지주
16 000210 대림산업
17 000211 대림산업우
18 000220 유유제약
19 000221 유유제약1우
20 000222 유유제약2우B
21 000230 일동제약
22 000240 한국타이어
23 000270 기아차
24 000300 대유신소재
25 000320 디피아이홀딩스
26 000321 디피아이홀딩스우
27 000322 디피아이홀딩스2B
28 000360 삼환기업
29 000361 삼환기업우
30 000370 한화손해보험
31 000390 삼화페인트
32 000400 롯데손해보험
33 000420 로케트전기
34 000421 로케트전우
35 000430 대원강업
36 000470 그린손해보험
37 000480 조선내화
38 000490 대동공업
39 000500 가온전선
40 000520 삼일제약
41 000540 흥국쌍용화재
42 000541 흥국쌍용화재우
43 000542 흥국쌍용화재2우B
44 000590 조선선재
45 000610 제일화재
46 000640 동아제약
47 000650 천일고속
48 000660 하이닉스
49 000670 영풍
50 000680 LS네트웍스
51 000681 LS네트웍스우
52 000700 한진해운
53 000720 현대건설
54 000721 현대건설우
55 000760 이화산업
56 000790 C&상선
57 000800 경남기업
58 000810 삼성화재
59 000811 삼성화재우
60 000830 삼성물산
61 000831 삼성물산우
62 000850 화천기공
63 000860 건설화학
64 000880 한화
65 000881 한화우
66 000890 보해양조
67 000891 보해양조우
68 000910 유니온
69 000950 전방
70 000970 한국주철관
71 000990 동부하이텍
72 000991 동부하이텍1우
73 000992 동부하이텍2우B
74 001020 페이퍼코리아
75 001040 CJ
76 001041 CJ우
77 001042 CJ2우B
78 001043 CJ3우B
79 001060 중외제약
80 001061 중외제약우
81 001062 중외제약2우B
82 001070 대한방직
83 001080 만호제강
84 001120 LG상사
85 001130 대한제분
86 001140 국보
87 001190 마이크로닉스
88 001200 유진투자증권
89 001210 금호전기
90 001230 동국제강
91 001250 쌍용
92 001260 남광토건
93 001270 부국증권
94 001271 부국증권우
95 001290 골든브릿지증권
96 001300 제일모직
97 001310 풍림산업
98 001340 백광산업
99 001360 삼성제약
100 001370 FnC코오롱
101 001371 FnC코오롱우
102 001380 SG글로벌
103 001381 SG글로벌우
104 001390 KG케미칼
105 001420 태원물산
106 001430 세아베스틸
107 001440 대한전선
108 001450 현대해상
109 001460 BYC
110 001461 BYC우
111 001470 삼부토건
112 001500 HMC투자증권
113 001510 SK증권
114 001511 SK증권우
115 001520 동양메이저
116 001521 동양메이저우
117 001522 동양메이저2우B
118 001523 동양메이저3우B
119 001530 동일방직
120 001550 조비
121 001560 제일연마
122 001570 금양
123 001600 서광건설
124 001620 동국실업
125 001630 종근당
126 001680 대상
127 001681 대상우
128 001682 대상2우B
129 001683 대상3우B
130 001720 신영증권
131 001721 신영증권우
132 001740 SK네트웍스
133 001741 SK네트웍스우
134 001750 한양증권
135 001751 한양증권우
136 001770 신화실업
137 001780 동양강철
138 001790 대한제당
139 001791 대한제당우
140 001800 오리온
141 001820 삼화콘덴서
142 001880 삼호
143 001940 KISCO홀딩스
144 001950 남한제지
145 001951 남한제지우
146 001970 신성건설
147 001971 신성건설우
148 002000 한국유리
149 002001 한국유리우
150 002020 코오롱
151 002021 코오롱우
152 002022 코오롱2우B
153 002030 아세아시멘트
154 002070 남영L&F
155 002100 경농
156 002140 고려산업
157 002170 삼양통상
158 002200 수출포장
159 002210 동성제약
160 002220 한일철강
161 002240 고려제강
162 002250 근화제약
163 002270 롯데삼강
164 002300 한국제지
165 002310 아세아제지
166 002320 한진
167 002350 넥센타이어
168 002351 넥센타이어1우B
169 002360 SH에너지화학
170 002361 SH에너지화학우
171 002380 KCC
172 002390 한독약품
173 002410 범양건영
174 002420 세기상사
175 002450 삼익악기
176 002460 화성산업
177 002530 벽산건설
178 002531 벽산건설우
179 002540 고제
180 002550 LIG손해보험
181 002600 조흥
182 002620 제일약품
183 002630 오리엔트바이오
184 002700 신일산업
185 002710 동양석판
186 002720 국제약품
187 002760 보락
188 002780 진흥기업
189 002781 진흥기업우B
190 002782 진흥기업2우B
191 002790 태평양
192 002791 태평양우
193 002792 태평양2우B
194 002810 삼영무역
195 002820 선창산업
196 002840 미원상사
197 002870 신풍제지
198 002880 대유디엠씨
199 002900 동양물산
200 002920 유성기업
201 002960 한국쉘석유
202 002990 금호산업
203 002991 금호산업우
204 003000 부광약품
205 003010 혜인
206 003030 세아제강
207 003060 한국슈넬제약
208 003070 코오롱건설
209 003071 코오롱건우
210 003080 성보화학
211 003090 대웅
212 003120 일성신약
213 003160 디아이
214 003190 알앤엘바이오
215 003200 일신방직
216 003220 대원제약
217 003230 삼양식품
218 003240 태광산업
219 003280 흥아해운
220 003300 한일시멘트
221 003350 한국화장품
222 003410 쌍용양회
223 003411 쌍용양회우
224 003412 쌍용양회2우B
225 003413 쌍용양회3우B
226 003414 쌍용양회4우B
227 003415 쌍용양회5우B
228 003450 현대증권
229 003460 유화증권
230 003461 유화증권우
231 003470 동양종금증권
232 003471 동양종금증권1우
233 003480 한진중공업홀딩스
234 003490 대한항공
235 003491 대한항공우
236 003520 영진약품
237 003530 한화증권
238 003531 한화증권우
239 003540 대신증권
240 003541 대신증권우
241 003542 대신증권2우B
242 003550 LG
243 003551 LG우
244 003560 IHQ
245 003570 S&T중공업
246 003580 동원
247 003600 SK
248 003601 SK우
249 003610 방림
250 003620 쌍용차
251 003640 유니온스틸
252 003650 미창석유
253 003680 한성기업
254 003690 코리안리
255 003720 삼영화학
256 003780 진양산업
257 003830 대한화섬
258 003850 보령제약
259 003920 남양유업
260 003921 남양유업우
261 003940 삼양제넥스
262 003941 삼양제넥우
263 003960 사조대림
264 003961 사조대림우
265 003990 BHK
266 004000 삼성정밀화학
267 004010 롯데미도파
268 004020 현대제철
269 004021 현대제철
270 004060 에스지위카스
271 004080 신흥
272 004090 한국석유
273 004100 태양금속
274 004101 태양금속우
275 004130 대덕GDS
276 004131 대덕GDS우
277 004132 대덕GDS2우B
278 004140 동방
279 004142 동방전환상환2우B
280 004143 동방전환상환3우B
281 004150 한솔제지
282 004170 신세계
283 004200 고려개발
284 004230 세신
285 004250 내쇼날푸라스
286 004251 내쇼날푸우
287 004270 남성
288 004310 현대약품
289 004360 세방
290 004361 세방우
291 004362 세방2우B
292 004370 농심
293 004380 삼익THK
294 004410 서울식품
295 004411 서울식품우
296 004430 송원산업
297 004450 삼화왕관
298 004490 세방전지
299 004540 대한펄프
300 004541 대한펄프우
301 004550 대우차판매
302 004551 대우차판매1우
303 004560 BNG스틸
304 004561 BNG스틸우
305 004620 캠브리지
306 004690 삼천리
307 004700 조광피혁
308 004710 한솔LCD
309 004720 우리들생명과학
310 004740 보루네오
311 004770 써니전자
312 004800 효성
313 004820 조인에너지
314 004830 덕성
315 004831 덕성우
316 004840 동일벨트
317 004870 아인스
318 004890 동일산업
319 004910 조광페인트
320 004920 삼영홀딩스
321 004940 외환은행
322 004960 한신공영
323 004961 한신공영우
324 004970 신라교역
325 004980 성신양회
326 004981 성신양회우
327 004982 성신양회2우B
328 004983 성신양회3우B
329 004990 롯데제과
330 005010 휴스틸
331 005030 부산주공
332 005070 새한미디어
333 005090 삼광유리
334 005110 한창
335 005180 빙그레
336 005190 동성화학
337 005250 녹십자홀딩스
338 005251 녹십자홀딩스1우
339 005252 녹십자홀딩스2우
340 005270 대구은행
341 005280 부산은행
342 005300 롯데칠성
343 005301 롯데칠성우
344 005320 국동
345 005350 선우ST
346 005360 모나미
347 005380 현대차
348 005381 현대차우
349 005382 현대차2우B
350 005383 현대차3우B
351 005390 신성통상
352 005420 코스모화학
353 005430 한국공항
354 005440 현대H&S
355 005450 신한
356 005490 POSCO
357 005500 삼진제약
358 005560 JS전선
359 005610 삼립식품
360 005620 대성산업
361 005680 삼영전자
362 005690 로이
363 005720 넥센
364 005721 넥센우
365 005740 크라운제과
366 005741 크라운제우
367 005750 대림B&Co
368 005800 신영와코루
369 005810 풍산홀딩스
370 005820 원림
371 005830 동부화재
372 005850 에스엘
373 005870 휴니드
374 005880 대한해운
375 005900 동양건설
376 005930 삼성전자
377 005931 삼성전자우
378 005940 우리투자증권
379 005941 우리투자증권우
380 005950 이수화학
381 005960 동부건설
382 005961 동부건설우
383 005980 성지건설
384 006040 동원산업
385 006060 화승인더
386 006070 기린
387 006090 오양수산
388 006110 삼아알미늄
389 006120 SK케미칼
390 006121 SK케미칼우
391 006200 KEC홀딩스
392 006210 휴리프
393 006220 제주은행
394 006260 LS
395 006280 녹십자
396 006340 대원전선
397 006341 대원전선우
398 006350 전북은행
399 006360 GS건설
400 006370 대구백화점
401 006371 대구백화우
402 006380 카프로
403 006390 현대시멘트
404 006400 삼성SDI
405 006401 삼성SDI우
406 006440 한일건설
407 006490 로엔케이
408 006570 대림통상
409 006650 대한유화
410 006660 삼성공조
411 006740 영풍제지
412 006800 대우증권
413 006801 대우증권우
414 006840 애경유화
415 006890 태경화학
416 006980 우성사료
417 007050 유리이에스
418 007110 일신석재
419 007120 유니모테크
420 007160 사조산업
421 007190 이엔페이퍼
422 007191 이엔페이퍼우
423 007200 진흥저축은행
424 007210 벽산
425 007280 한국특수형강
426 007310 오뚜기
427 007340 동아타이어
428 007460 케이아이씨
429 007480 대한은박지
430 007490 태창기업
431 007540 샘표식품
432 007570 일양약품
433 007571 일양약품우
434 007590 동방아그로
435 007591 동방아그우
436 007610 선도전기
437 007630 지에스인스트루
438 007660 이수페타시스
439 007690 국도화학
440 007700 F&F
441 007800 솔로몬저축은행
442 007810 코리아써키트
443 007811 코리아써우
444 007860 한일이화
445 007980 태평양물산
446 008000 웅진케미칼
447 008020 경남에너지
448 008040 동아에스에프
449 008060 대덕전자
450 008080 삼양옵틱스
451 008110 대동전자
452 008250 이건산업
453 008260 NI스틸
454 008320 한국기술산업
455 008350 남선알미늄
456 008351 남선알미우
457 008400 C&중공업
458 008401 C&중공업우
459 008420 문배철강
460 008490 서흥캅셀
461 008500 일정실업
462 008540 일경
463 008560 메리츠증권
464 008600 미래와사람
465 008700 아남전자
466 008701 아남전자우
467 008720 삼양중기
468 008730 율촌화학
469 008770 호텔신라
470 008771 호텔신라우
471 008870 금비
472 008900 티이씨앤코
473 008930 한미약품
474 008970 동양철관
475 008971 동양철관우
476 009070 KCTC
477 009140 경인전자
478 009150 삼성전기
479 009151 삼성전기우
480 009160 SIMPAC
481 009180 한솔CSN
482 009190 대양금속
483 009200 무림페이퍼
484 009240 한샘
485 009270 신원
486 009271 신원우
487 009280 다함이텍
488 009290 광동제약
489 009310 참앤씨
490 009320 대우부품
491 009380 아세아페이퍼텍
492 009381 아세아페우B
493 009410 태영건설
494 009411 태영건설우
495 009420 한올제약
496 009440 KC코트렐
497 009450 경동나비엔
498 009460 한창제지
499 009470 삼화전기
500 009540 현대중공업
501 009580 동해펄프
502 009680 모토닉
503 009690 케이엠에이치
504 009720 전기초자
505 009770 삼정펄프
506 009810 고려포리머
507 009811 고려포리머우
508 009830 한화석화
509 009831 한화석화1우
510 009970 영원무역
511 010040 한국내화
512 010050 금호종금
513 010060 동양제철화학
514 010100 한국프랜지
515 010120 LS산전
516 010130 고려아연
517 010140 삼성중공업
518 010141 삼성중공우
519 010420 한솔PNS
520 010460 한국개발금융
521 010520 현대하이스코
522 010580 지코
523 010600 영창실업
524 010620 현대미포조선
525 010640 진양폴리
526 010660 화천기계
527 010690 화신
528 010770 평화홀딩스
529 010780 아이에스동서
530 010820 퍼스텍
531 010950 S-Oil
532 010951 S-Oil우
533 010960 삼호개발
534 011000 VGX인터
535 011050 케드콤
536 011070 LG이노텍
537 011090 에넥스
538 011150 삼호F&G
539 011151 삼호F&G1우
540 011160 두산건설
541 011170 호남석유
542 011200 현대상선
543 011230 삼화전자
544 011280 태림포장
545 011300 성안
546 011330 유니켐
547 011390 부산산업
548 011400 케이씨오에너지
549 011420 IB스포츠
550 011500 한농화성
551 011690 유양디앤유
552 011700 한신기계
553 011720 현대피앤씨
554 011760 현대상사
555 011780 금호석유
556 011781 금호석유우
557 011790 SKC
558 011800 배명금속
559 011810 STX
560 011930 신성홀딩스
561 012030 동부정밀
562 012090 성원건설
563 012091 성원건설우
564 012170 한신DNP
565 012200 계양전기
566 012201 계양전기우
567 012280 영화금속
568 012320 경동가스
569 012330 현대모비스
570 012331 현대모비스우
571 012400 옵티머스
572 012401 옵티머스우
573 012410 청호전자통신
574 012420 메리츠종금
575 012450 삼성테크윈
576 012510 더존비즈온
577 012580 톰보이
578 012600 청호컴넷
579 012610 경인양행
580 012630 현대산업
581 012690 모나리자
582 012750 에스원
583 012800 대창공업
584 012801 대창공업우
585 013000 세우글로벌
586 013001 세우글로벌우
587 013200 C&우방
588 013240 셀런
589 013360 일성건설
590 013361 일성건설우B
591 013362 일성건설2우B
592 013520 화승알앤에이
593 013570 동양기전
594 013580 계룡건설
595 013700 삼환까뮤
596 014130 한익스프레스
597 014160 대영포장
598 014280 금강공업
599 014281 금강공업우
600 014300 선진
601 014350 신일건업
602 014440 영보화학
603 014530 극동유화
604 014580 백광소재
605 014590 티엘씨레저
606 014680 한솔케미칼
607 014790 한라건설
608 014820 동원시스템즈
609 014821 동원시스템즈우
610 014830 유니드
611 014910 성문전자
612 014911 성문전자우
613 014990 인디에프
614 015020 이스타코
615 015110 중앙건설
616 015230 대창단조
617 015260 에이엔피
618 015350 부산가스
619 015360 예스코
620 015540 웰스브릿지
621 015541 웰스브릿지우
622 015590 대경기계
623 015760 한국전력
624 015860 일진홀딩스
625 015890 태경산업
626 015940 LG데이콤
627 016090 대현
628 016160 오라에너지
629 016162 오라에너지2우B
630 016360 삼성증권
631 016380 동부제철
632 016381 동부제철우
633 016420 NH투자증권
634 016450 한세예스24홀딩스
635 016510 현대DSF
636 016560 서울저축은행
637 016570 태평양제약
638 016571 태평양제우
639 016580 환인제약
640 016590 신대양제지
641 016610 동부증권
642 016710 대구가스
643 016800 퍼시스
644 016880 웅진홀딩스
645 017040 광명전기
646 017170 프라임엔터
647 017180 명문제약
648 017300 KDS
649 017370 우신시스템
650 017390 서울가스
651 017550 수산중공업
652 017551 수산중공우
653 017670 SK텔레콤
654 017800 현대엘리베이
655 017810 풀무원홀딩스
656 017900 광전자
657 017940 E1
658 017960 한국카본
659 018410 현대금속
660 018411 현대금속우
661 018412 현대금속2우B
662 018470 조일알미늄
663 018500 동원금속
664 018670 SK가스
665 018880 한라공조
666 019170 신풍제약
667 019171 신풍제약우
668 019180 티에이치엔
669 019300 동일제지
670 019490 하이트론
671 019680 대교
672 019681 대교우B
673 020000 한섬
674 020120 인큐브테크
675 020560 아시아나항공
676 020760 일진디스플
677 021050 서원
678 021240 웅진코웨이
679 021820 세원정공
680 021960 우리파이낸셜
681 023150 MH에탄올
682 023450 동남합성
683 023530 롯데쇼핑
684 023590 다우기술
685 023800 인지컨트롤스
686 023810 인팩
687 023960 에쓰씨엔지니어링
688 024070 WISCOM
689 024090 디씨엠
690 024100 제일저축은행
691 024110 기업은행
692 024720 한국콜마
693 024870 유성티에스아이
694 024890 대원화성
695 024900 덕양산업
696 025000 KPX케미칼
697 025530 SJM
698 025540 한국단자
699 025560 미래산업
700 025610 한국저축은행
701 025620 신우
702 025750 한솔홈데코
703 025820 이구산업
704 025850 KPX화인케미칼
705 025860 남해화학
706 025890 한국주강
707 026870 대한가스
708 026890 디피씨
709 026940 부국철강
710 027390 한화타임월드
711 027740 마니커
712 027840 고덴시
713 027970 세하
714 028050 삼성엔지니어링
715 028670 STX팬오션
716 029460 케이씨텍
717 029530 신도리코
718 029780 삼성카드
719 030000 제일기획
720 030200 KT
721 030210 KTB투자증권
722 030610 교보증권
723 030720 동원수산
724 031820 콤텍시스템
725 032350 롯데관광개발
726 032390 KTF
727 032640 LG텔레콤
728 033180 필룩스
729 033240 자화전자
730 033250 체시스
731 033270 유나이티드제약
732 033530 세종공업
733 033780 KT&G
734 034020 두산중공업
735 034120 SBS
736 034220 LG디스플레이
737 034300 신세계건설
738 034310 한신정
739 034590 인천도시가스
740 035000 GⅡR
741 035150 백산
742 035250 강원랜드
743 035420 NHN
744 035510 신세계
745 036460 한국가스공사
746 036530 S&T홀딩스
747 036570 엔씨소프트
748 036580 대상팜스코
749 036581 대상팜스코우B
750 037270 휘닉스컴
751 037620 미래에셋증권
752 037710 광주신세계
753 041650 상신브레이크
754 042100 현대오토넷
755 042660 대우조선해양
756 042670 두산인프라코어
757 042700 한미반도체
758 044380 주연테크
759 044450 KSS해운
760 044820 코스맥스
761 045710 온미디어
762 045820 LG파워콤
763 047040 대우건설
764 047050 대우인터내셔널
765 049770 동원F&B
766 049800 우진세렉스
767 051310 성진지오텍
768 051600 한전KPS
769 051630 진양화학
770 051900 LG생활건강
771 051901 LG생활건강우
772 051910 LG화학
773 051911 LG화학우
774 053000 우리금융
775 055550 신한지주
776 058430 포스코강판
777 058650 세아홀딩스
778 058730 동아에스텍
779 063160 종근당바이오
780 064420 케이피케미칼
781 064960 S&T대우
782 066570 LG전자
783 066571 LG전자우
784 067250 STX조선
785 067830 세이브존I&C
786 068290 삼성출판사
787 068870 LG생명과학
788 068871 LG생명과학우
789 069260 휴켐스
790 069460 대호에이엘
791 069470 제로원인터랙티브
792 069620 대웅제약
793 069730 DSR제강
794 069960 현대백화점
795 071050 한국금융지주
796 071051 한국금융지주우
797 071052 한국금융지주2우B
798 071090 하이스틸
799 071950 코아스웰
800 071951 코아스웰1우B
801 072130 유엔젤
802 072710 농심홀딩스
803 073240 금호타이어
804 074610 이엔쓰리
805 075180 새론오토모티브
806 076170 GBS
807 076850 맥쿼리센트럴
808 077500 유니퀘스트
809 077970 STX엔진
810 078000 텔코웨어
811 078420 동북아1호
812 078930 GS
813 078931 GS우
814 079160 CJ
815 079430 리바트
816 079660 사조해표
817 080030 동북아2호
818 080180 아시아1호
819 080410 동북아6호
820 080960 동북아3호
821 080970 동북아4호
822 080980 동북아5호
823 081000 일진다이아
824 081190 아시아2호
825 081200 아시아3호
826 081210 아시아4호
827 081930 아시아8호
828 081940 아시아9호
829 082110 동북아8호
830 082240 아시아5호
831 082250 아시아6호
832 082260 아시아7호
833 083120 동북아9호
834 083350 동북아10호
835 083360 동북아11호
836 083370 동북아12호
837 083380 동북아13호
838 083390 동북아14호
839 083420 KPX그린케미칼
840 083570 아시아10호
841 083580 아시아11호
842 083590 아시아12호
843 083600 아시아13호
844 083610 아시아14호
845 083620 아시아15호
846 084010 대한제강
847 084160 골든경매일호
848 084240 동북아15호
849 084670 동양고속
850 084680 C&우방랜드
851 084690 대상홀딩스
852 084691 대상홀딩스우
853 084692 대상홀딩스2우B
854 084870 베이직하우스
855 085310 엔케이
856 086280 글로비스
857 086720 코크렙7호
858 086790 하나금융지주
859 088010 동북아21호
860 088790 진도에프앤
861 088980 맥쿼리인프라
862 089470 현대EP
863 090080 평화산업
864 090350 노루페인트
865 090351 노루페인트우
866 090370 아비스타
867 090430 아모레퍼시픽
868 090431 아모레퍼시픽우
869 090540 코크렙8호
870 090970 코리아01호
871 090980 코리아02호
872 090990 코리아03호
873 091000 코리아04호
874 091090 세원셀론텍
875 092200 디아이씨
876 092220 KEC
877 092230 KPX홀딩스
878 092440 기신정기
879 092630 바다로3호
880 092970 거북선1호
881 093050 LG패션
882 093230 쉘라인
883 093370 후성
884 093400 코리아05호
885 093410 코리아06호
886 093730 동북아31호
887 093820 한국유전15-1
888 094280 효성ITX
889 094520 맵스베트남1
890 094800 맵스리얼티1
891 094950 지비베트남1
892 095720 웅진씽크빅
893 096300 베트남개발1
894 096760 중외홀딩스
895 096770 SK에너지
896 096771 SK에너지우
897 097230 한진중공업
898 097950 CJ제일제당
899 097951 CJ제일제당
900 097952 CJ제일제당
901 097953 CJ제일제당
902 098150 한국아태특별
903 099210 코리아07호
904 099340 하나니켈1호
905 099350 하나니켈2호
906 100220 비유와상징
907 100250 진양홀딩스
908 100840 S&TC
909 101060 SBS홀딩스
910 101140 아티스
911 101380 거북선2호
912 101790 케이알제2호
913 101990 파브코
914 102000 거북선3호
915 102260 동성홀딩스
916 102280 트라이
917 103140 풍산
918 103150 하이트맥주
919 103151 하이트맥주우
920 103160 풀무원
921 103590 일진전기
922 104110 신성ENG
923 104120 신성FA
924 104700 한국철강
925 105560 KB금융
926 107590 미원에스씨

In [ ]:
# 140. 화면에서 사용자 입력을 받고 파일로 쓰기 (wirte)

text = input('파일에 저장할 내용을 입력하세요:')
f = open('mydata.txt', 'w')  # write 모드일 때는 encoding 필요없는 듯
f.write(text)
f.close()

파일에 저장할 내용을 입력하세요:if you will look back, i will kill you

In [ ]:
# 141. 텍스트 파일에 한줄씩 쓰기 (writelines)

count = 1
data = []
print('파일에 내용을 저장하려면 내용을 입력하지 말고 [Enter]를 누르세요')
while True:
  text = input('[%d] 파일에 저장할 내용을 입력하세요:' %count)
  if text =='':
      break
  data.append(text+'\n')
  count+=1

f = open('mydata.txt', 'w')
f.writelines(data)
f.close()

파일에 내용을 저장하려면 내용을 입력하지 말고 [Enter]를 누르세요
[1] 파일에 저장할 내용을 입력하세요:안녕
[2] 파일에 저장할 내용을 입력하세요:나는 남동욱이야
[3] 파일에 저장할 내용을 입력하세요:나는 지금 프로그래머스 코딩 테스트를 준비하고 이써
[4] 파일에 저장할 내용을 입력하세요:카카오 스타일 가고싶당
[5] 파일에 저장할 내용을 입력하세요:열심히 최선을 다하고 결과는 주님께 맡기자
[6] 파일에 저장할 내용을 입력하세요:화이팅!
[7] 파일에 저장할 내용을 입력하세요:

In [ ]:
# 142. 텍스트 파일 복사하기 (read, write)

f = open('stockcode.txt', 'r', encoding = 'euc-kr')
h = open('stockcode_copy.txt', 'w')

data = f.read()
h.write(data)

f.close()
h.close()

In [ ]:
# 143. 바이너리 파일 복사하기 (read, write)

bufsize = 1024  # bufsize = 1024 는 1KB 단위로 파일을 읽기 위해서 정의한 값
f = open('img_sample.jpg', 'rb')
h = open('img_sample_copy.jpg', 'wb')

data = f.read(bufsize)
while data:
  h.write(data)
  data = f.read(bufsize)

# while 문을 위와 같이 짜면 빈 문자열 ''이 나올 때까지 while 문 루프가 돈다는 것

f.close()
h.close()

In [ ]:
# 144. 파일을 열고 자동으로 닫기 (with ~ as)

## 프로그래밍을 할 때 가끔 파일을 열고 난 후 파일을 닫지 않고 코드를 작성하는 경우가 있는데 with open () as를 활용하면 파일에 대한 처리를 끝내면 자동으로 파일을 닫아 줌

with open('stockcode.txt', 'r', encoding = 'euc-kr') as f:
  for line_num, line in enumerate(f.readlines()):
    print('%d %s' %(line_num+1, line), end = '')

1 000020 동화약품
2 000040 S&T모터스
3 000050 경방
4 000060 메리츠화재
5 000070 삼양사
6 000071 삼양사우
7 000100 유한양행
8 000101 유한양행우
9 000120 대한통운
10 000140 하이트홀딩스
11 000141 하이트홀딩스우
12 000150 두산
13 000151 두산우
14 000152 두산2우B
15 000180 성창기업지주
16 000210 대림산업
17 000211 대림산업우
18 000220 유유제약
19 000221 유유제약1우
20 000222 유유제약2우B
21 000230 일동제약
22 000240 한국타이어
23 000270 기아차
24 000300 대유신소재
25 000320 디피아이홀딩스
26 000321 디피아이홀딩스우
27 000322 디피아이홀딩스2B
28 000360 삼환기업
29 000361 삼환기업우
30 000370 한화손해보험
31 000390 삼화페인트
32 000400 롯데손해보험
33 000420 로케트전기
34 000421 로케트전우
35 000430 대원강업
36 000470 그린손해보험
37 000480 조선내화
38 000490 대동공업
39 000500 가온전선
40 000520 삼일제약
41 000540 흥국쌍용화재
42 000541 흥국쌍용화재우
43 000542 흥국쌍용화재2우B
44 000590 조선선재
45 000610 제일화재
46 000640 동아제약
47 000650 천일고속
48 000660 하이닉스
49 000670 영풍
50 000680 LS네트웍스
51 000681 LS네트웍스우
52 000700 한진해운
53 000720 현대건설
54 000721 현대건설우
55 000760 이화산업
56 000790 C&상선
57 000800 경남기업
58 000810 삼성화재
59 000811 삼성화재우
60 000830 삼성물산
61 000831 삼성물산우
62 000850 화천기공
63 000860 건설화학
64 000880 한화
65 000881 한화우
66 000890 보해양조
67 000891 보해양조우
68 000910 유니온
69 000950 전방
70 000970 한국주철관
71 000990 동부하이텍
72 000991 동부하이텍1우
73 000992 동부하이텍2우B
74 001020 페이퍼코리아
75 001040 CJ
76 001041 CJ우
77 001042 CJ2우B
78 001043 CJ3우B
79 001060 중외제약
80 001061 중외제약우
81 001062 중외제약2우B
82 001070 대한방직
83 001080 만호제강
84 001120 LG상사
85 001130 대한제분
86 001140 국보
87 001190 마이크로닉스
88 001200 유진투자증권
89 001210 금호전기
90 001230 동국제강
91 001250 쌍용
92 001260 남광토건
93 001270 부국증권
94 001271 부국증권우
95 001290 골든브릿지증권
96 001300 제일모직
97 001310 풍림산업
98 001340 백광산업
99 001360 삼성제약
100 001370 FnC코오롱
101 001371 FnC코오롱우
102 001380 SG글로벌
103 001381 SG글로벌우
104 001390 KG케미칼
105 001420 태원물산
106 001430 세아베스틸
107 001440 대한전선
108 001450 현대해상
109 001460 BYC
110 001461 BYC우
111 001470 삼부토건
112 001500 HMC투자증권
113 001510 SK증권
114 001511 SK증권우
115 001520 동양메이저
116 001521 동양메이저우
117 001522 동양메이저2우B
118 001523 동양메이저3우B
119 001530 동일방직
120 001550 조비
121 001560 제일연마
122 001570 금양
123 001600 서광건설
124 001620 동국실업
125 001630 종근당
126 001680 대상
127 001681 대상우
128 001682 대상2우B
129 001683 대상3우B
130 001720 신영증권
131 001721 신영증권우
132 001740 SK네트웍스
133 001741 SK네트웍스우
134 001750 한양증권
135 001751 한양증권우
136 001770 신화실업
137 001780 동양강철
138 001790 대한제당
139 001791 대한제당우
140 001800 오리온
141 001820 삼화콘덴서
142 001880 삼호
143 001940 KISCO홀딩스
144 001950 남한제지
145 001951 남한제지우
146 001970 신성건설
147 001971 신성건설우
148 002000 한국유리
149 002001 한국유리우
150 002020 코오롱
151 002021 코오롱우
152 002022 코오롱2우B
153 002030 아세아시멘트
154 002070 남영L&F
155 002100 경농
156 002140 고려산업
157 002170 삼양통상
158 002200 수출포장
159 002210 동성제약
160 002220 한일철강
161 002240 고려제강
162 002250 근화제약
163 002270 롯데삼강
164 002300 한국제지
165 002310 아세아제지
166 002320 한진
167 002350 넥센타이어
168 002351 넥센타이어1우B
169 002360 SH에너지화학
170 002361 SH에너지화학우
171 002380 KCC
172 002390 한독약품
173 002410 범양건영
174 002420 세기상사
175 002450 삼익악기
176 002460 화성산업
177 002530 벽산건설
178 002531 벽산건설우
179 002540 고제
180 002550 LIG손해보험
181 002600 조흥
182 002620 제일약품
183 002630 오리엔트바이오
184 002700 신일산업
185 002710 동양석판
186 002720 국제약품
187 002760 보락
188 002780 진흥기업
189 002781 진흥기업우B
190 002782 진흥기업2우B
191 002790 태평양
192 002791 태평양우
193 002792 태평양2우B
194 002810 삼영무역
195 002820 선창산업
196 002840 미원상사
197 002870 신풍제지
198 002880 대유디엠씨
199 002900 동양물산
200 002920 유성기업
201 002960 한국쉘석유
202 002990 금호산업
203 002991 금호산업우
204 003000 부광약품
205 003010 혜인
206 003030 세아제강
207 003060 한국슈넬제약
208 003070 코오롱건설
209 003071 코오롱건우
210 003080 성보화학
211 003090 대웅
212 003120 일성신약
213 003160 디아이
214 003190 알앤엘바이오
215 003200 일신방직
216 003220 대원제약
217 003230 삼양식품
218 003240 태광산업
219 003280 흥아해운
220 003300 한일시멘트
221 003350 한국화장품
222 003410 쌍용양회
223 003411 쌍용양회우
224 003412 쌍용양회2우B
225 003413 쌍용양회3우B
226 003414 쌍용양회4우B
227 003415 쌍용양회5우B
228 003450 현대증권
229 003460 유화증권
230 003461 유화증권우
231 003470 동양종금증권
232 003471 동양종금증권1우
233 003480 한진중공업홀딩스
234 003490 대한항공
235 003491 대한항공우
236 003520 영진약품
237 003530 한화증권
238 003531 한화증권우
239 003540 대신증권
240 003541 대신증권우
241 003542 대신증권2우B
242 003550 LG
243 003551 LG우
244 003560 IHQ
245 003570 S&T중공업
246 003580 동원
247 003600 SK
248 003601 SK우
249 003610 방림
250 003620 쌍용차
251 003640 유니온스틸
252 003650 미창석유
253 003680 한성기업
254 003690 코리안리
255 003720 삼영화학
256 003780 진양산업
257 003830 대한화섬
258 003850 보령제약
259 003920 남양유업
260 003921 남양유업우
261 003940 삼양제넥스
262 003941 삼양제넥우
263 003960 사조대림
264 003961 사조대림우
265 003990 BHK
266 004000 삼성정밀화학
267 004010 롯데미도파
268 004020 현대제철
269 004021 현대제철
270 004060 에스지위카스
271 004080 신흥
272 004090 한국석유
273 004100 태양금속
274 004101 태양금속우
275 004130 대덕GDS
276 004131 대덕GDS우
277 004132 대덕GDS2우B
278 004140 동방
279 004142 동방전환상환2우B
280 004143 동방전환상환3우B
281 004150 한솔제지
282 004170 신세계
283 004200 고려개발
284 004230 세신
285 004250 내쇼날푸라스
286 004251 내쇼날푸우
287 004270 남성
288 004310 현대약품
289 004360 세방
290 004361 세방우
291 004362 세방2우B
292 004370 농심
293 004380 삼익THK
294 004410 서울식품
295 004411 서울식품우
296 004430 송원산업
297 004450 삼화왕관
298 004490 세방전지
299 004540 대한펄프
300 004541 대한펄프우
301 004550 대우차판매
302 004551 대우차판매1우
303 004560 BNG스틸
304 004561 BNG스틸우
305 004620 캠브리지
306 004690 삼천리
307 004700 조광피혁
308 004710 한솔LCD
309 004720 우리들생명과학
310 004740 보루네오
311 004770 써니전자
312 004800 효성
313 004820 조인에너지
314 004830 덕성
315 004831 덕성우
316 004840 동일벨트
317 004870 아인스
318 004890 동일산업
319 004910 조광페인트
320 004920 삼영홀딩스
321 004940 외환은행
322 004960 한신공영
323 004961 한신공영우
324 004970 신라교역
325 004980 성신양회
326 004981 성신양회우
327 004982 성신양회2우B
328 004983 성신양회3우B
329 004990 롯데제과
330 005010 휴스틸
331 005030 부산주공
332 005070 새한미디어
333 005090 삼광유리
334 005110 한창
335 005180 빙그레
336 005190 동성화학
337 005250 녹십자홀딩스
338 005251 녹십자홀딩스1우
339 005252 녹십자홀딩스2우
340 005270 대구은행
341 005280 부산은행
342 005300 롯데칠성
343 005301 롯데칠성우
344 005320 국동
345 005350 선우ST
346 005360 모나미
347 005380 현대차
348 005381 현대차우
349 005382 현대차2우B
350 005383 현대차3우B
351 005390 신성통상
352 005420 코스모화학
353 005430 한국공항
354 005440 현대H&S
355 005450 신한
356 005490 POSCO
357 005500 삼진제약
358 005560 JS전선
359 005610 삼립식품
360 005620 대성산업
361 005680 삼영전자
362 005690 로이
363 005720 넥센
364 005721 넥센우
365 005740 크라운제과
366 005741 크라운제우
367 005750 대림B&Co
368 005800 신영와코루
369 005810 풍산홀딩스
370 005820 원림
371 005830 동부화재
372 005850 에스엘
373 005870 휴니드
374 005880 대한해운
375 005900 동양건설
376 005930 삼성전자
377 005931 삼성전자우
378 005940 우리투자증권
379 005941 우리투자증권우
380 005950 이수화학
381 005960 동부건설
382 005961 동부건설우
383 005980 성지건설
384 006040 동원산업
385 006060 화승인더
386 006070 기린
387 006090 오양수산
388 006110 삼아알미늄
389 006120 SK케미칼
390 006121 SK케미칼우
391 006200 KEC홀딩스
392 006210 휴리프
393 006220 제주은행
394 006260 LS
395 006280 녹십자
396 006340 대원전선
397 006341 대원전선우
398 006350 전북은행
399 006360 GS건설
400 006370 대구백화점
401 006371 대구백화우
402 006380 카프로
403 006390 현대시멘트
404 006400 삼성SDI
405 006401 삼성SDI우
406 006440 한일건설
407 006490 로엔케이
408 006570 대림통상
409 006650 대한유화
410 006660 삼성공조
411 006740 영풍제지
412 006800 대우증권
413 006801 대우증권우
414 006840 애경유화
415 006890 태경화학
416 006980 우성사료
417 007050 유리이에스
418 007110 일신석재
419 007120 유니모테크
420 007160 사조산업
421 007190 이엔페이퍼
422 007191 이엔페이퍼우
423 007200 진흥저축은행
424 007210 벽산
425 007280 한국특수형강
426 007310 오뚜기
427 007340 동아타이어
428 007460 케이아이씨
429 007480 대한은박지
430 007490 태창기업
431 007540 샘표식품
432 007570 일양약품
433 007571 일양약품우
434 007590 동방아그로
435 007591 동방아그우
436 007610 선도전기
437 007630 지에스인스트루
438 007660 이수페타시스
439 007690 국도화학
440 007700 F&F
441 007800 솔로몬저축은행
442 007810 코리아써키트
443 007811 코리아써우
444 007860 한일이화
445 007980 태평양물산
446 008000 웅진케미칼
447 008020 경남에너지
448 008040 동아에스에프
449 008060 대덕전자
450 008080 삼양옵틱스
451 008110 대동전자
452 008250 이건산업
453 008260 NI스틸
454 008320 한국기술산업
455 008350 남선알미늄
456 008351 남선알미우
457 008400 C&중공업
458 008401 C&중공업우
459 008420 문배철강
460 008490 서흥캅셀
461 008500 일정실업
462 008540 일경
463 008560 메리츠증권
464 008600 미래와사람
465 008700 아남전자
466 008701 아남전자우
467 008720 삼양중기
468 008730 율촌화학
469 008770 호텔신라
470 008771 호텔신라우
471 008870 금비
472 008900 티이씨앤코
473 008930 한미약품
474 008970 동양철관
475 008971 동양철관우
476 009070 KCTC
477 009140 경인전자
478 009150 삼성전기
479 009151 삼성전기우
480 009160 SIMPAC
481 009180 한솔CSN
482 009190 대양금속
483 009200 무림페이퍼
484 009240 한샘
485 009270 신원
486 009271 신원우
487 009280 다함이텍
488 009290 광동제약
489 009310 참앤씨
490 009320 대우부품
491 009380 아세아페이퍼텍
492 009381 아세아페우B
493 009410 태영건설
494 009411 태영건설우
495 009420 한올제약
496 009440 KC코트렐
497 009450 경동나비엔
498 009460 한창제지
499 009470 삼화전기
500 009540 현대중공업
501 009580 동해펄프
502 009680 모토닉
503 009690 케이엠에이치
504 009720 전기초자
505 009770 삼정펄프
506 009810 고려포리머
507 009811 고려포리머우
508 009830 한화석화
509 009831 한화석화1우
510 009970 영원무역
511 010040 한국내화
512 010050 금호종금
513 010060 동양제철화학
514 010100 한국프랜지
515 010120 LS산전
516 010130 고려아연
517 010140 삼성중공업
518 010141 삼성중공우
519 010420 한솔PNS
520 010460 한국개발금융
521 010520 현대하이스코
522 010580 지코
523 010600 영창실업
524 010620 현대미포조선
525 010640 진양폴리
526 010660 화천기계
527 010690 화신
528 010770 평화홀딩스
529 010780 아이에스동서
530 010820 퍼스텍
531 010950 S-Oil
532 010951 S-Oil우
533 010960 삼호개발
534 011000 VGX인터
535 011050 케드콤
536 011070 LG이노텍
537 011090 에넥스
538 011150 삼호F&G
539 011151 삼호F&G1우
540 011160 두산건설
541 011170 호남석유
542 011200 현대상선
543 011230 삼화전자
544 011280 태림포장
545 011300 성안
546 011330 유니켐
547 011390 부산산업
548 011400 케이씨오에너지
549 011420 IB스포츠
550 011500 한농화성
551 011690 유양디앤유
552 011700 한신기계
553 011720 현대피앤씨
554 011760 현대상사
555 011780 금호석유
556 011781 금호석유우
557 011790 SKC
558 011800 배명금속
559 011810 STX
560 011930 신성홀딩스
561 012030 동부정밀
562 012090 성원건설
563 012091 성원건설우
564 012170 한신DNP
565 012200 계양전기
566 012201 계양전기우
567 012280 영화금속
568 012320 경동가스
569 012330 현대모비스
570 012331 현대모비스우
571 012400 옵티머스
572 012401 옵티머스우
573 012410 청호전자통신
574 012420 메리츠종금
575 012450 삼성테크윈
576 012510 더존비즈온
577 012580 톰보이
578 012600 청호컴넷
579 012610 경인양행
580 012630 현대산업
581 012690 모나리자
582 012750 에스원
583 012800 대창공업
584 012801 대창공업우
585 013000 세우글로벌
586 013001 세우글로벌우
587 013200 C&우방
588 013240 셀런
589 013360 일성건설
590 013361 일성건설우B
591 013362 일성건설2우B
592 013520 화승알앤에이
593 013570 동양기전
594 013580 계룡건설
595 013700 삼환까뮤
596 014130 한익스프레스
597 014160 대영포장
598 014280 금강공업
599 014281 금강공업우
600 014300 선진
601 014350 신일건업
602 014440 영보화학
603 014530 극동유화
604 014580 백광소재
605 014590 티엘씨레저
606 014680 한솔케미칼
607 014790 한라건설
608 014820 동원시스템즈
609 014821 동원시스템즈우
610 014830 유니드
611 014910 성문전자
612 014911 성문전자우
613 014990 인디에프
614 015020 이스타코
615 015110 중앙건설
616 015230 대창단조
617 015260 에이엔피
618 015350 부산가스
619 015360 예스코
620 015540 웰스브릿지
621 015541 웰스브릿지우
622 015590 대경기계
623 015760 한국전력
624 015860 일진홀딩스
625 015890 태경산업
626 015940 LG데이콤
627 016090 대현
628 016160 오라에너지
629 016162 오라에너지2우B
630 016360 삼성증권
631 016380 동부제철
632 016381 동부제철우
633 016420 NH투자증권
634 016450 한세예스24홀딩스
635 016510 현대DSF
636 016560 서울저축은행
637 016570 태평양제약
638 016571 태평양제우
639 016580 환인제약
640 016590 신대양제지
641 016610 동부증권
642 016710 대구가스
643 016800 퍼시스
644 016880 웅진홀딩스
645 017040 광명전기
646 017170 프라임엔터
647 017180 명문제약
648 017300 KDS
649 017370 우신시스템
650 017390 서울가스
651 017550 수산중공업
652 017551 수산중공우
653 017670 SK텔레콤
654 017800 현대엘리베이
655 017810 풀무원홀딩스
656 017900 광전자
657 017940 E1
658 017960 한국카본
659 018410 현대금속
660 018411 현대금속우
661 018412 현대금속2우B
662 018470 조일알미늄
663 018500 동원금속
664 018670 SK가스
665 018880 한라공조
666 019170 신풍제약
667 019171 신풍제약우
668 019180 티에이치엔
669 019300 동일제지
670 019490 하이트론
671 019680 대교
672 019681 대교우B
673 020000 한섬
674 020120 인큐브테크
675 020560 아시아나항공
676 020760 일진디스플
677 021050 서원
678 021240 웅진코웨이
679 021820 세원정공
680 021960 우리파이낸셜
681 023150 MH에탄올
682 023450 동남합성
683 023530 롯데쇼핑
684 023590 다우기술
685 023800 인지컨트롤스
686 023810 인팩
687 023960 에쓰씨엔지니어링
688 024070 WISCOM
689 024090 디씨엠
690 024100 제일저축은행
691 024110 기업은행
692 024720 한국콜마
693 024870 유성티에스아이
694 024890 대원화성
695 024900 덕양산업
696 025000 KPX케미칼
697 025530 SJM
698 025540 한국단자
699 025560 미래산업
700 025610 한국저축은행
701 025620 신우
702 025750 한솔홈데코
703 025820 이구산업
704 025850 KPX화인케미칼
705 025860 남해화학
706 025890 한국주강
707 026870 대한가스
708 026890 디피씨
709 026940 부국철강
710 027390 한화타임월드
711 027740 마니커
712 027840 고덴시
713 027970 세하
714 028050 삼성엔지니어링
715 028670 STX팬오션
716 029460 케이씨텍
717 029530 신도리코
718 029780 삼성카드
719 030000 제일기획
720 030200 KT
721 030210 KTB투자증권
722 030610 교보증권
723 030720 동원수산
724 031820 콤텍시스템
725 032350 롯데관광개발
726 032390 KTF
727 032640 LG텔레콤
728 033180 필룩스
729 033240 자화전자
730 033250 체시스
731 033270 유나이티드제약
732 033530 세종공업
733 033780 KT&G
734 034020 두산중공업
735 034120 SBS
736 034220 LG디스플레이
737 034300 신세계건설
738 034310 한신정
739 034590 인천도시가스
740 035000 GⅡR
741 035150 백산
742 035250 강원랜드
743 035420 NHN
744 035510 신세계
745 036460 한국가스공사
746 036530 S&T홀딩스
747 036570 엔씨소프트
748 036580 대상팜스코
749 036581 대상팜스코우B
750 037270 휘닉스컴
751 037620 미래에셋증권
752 037710 광주신세계
753 041650 상신브레이크
754 042100 현대오토넷
755 042660 대우조선해양
756 042670 두산인프라코어
757 042700 한미반도체
758 044380 주연테크
759 044450 KSS해운
760 044820 코스맥스
761 045710 온미디어
762 045820 LG파워콤
763 047040 대우건설
764 047050 대우인터내셔널
765 049770 동원F&B
766 049800 우진세렉스
767 051310 성진지오텍
768 051600 한전KPS
769 051630 진양화학
770 051900 LG생활건강
771 051901 LG생활건강우
772 051910 LG화학
773 051911 LG화학우
774 053000 우리금융
775 055550 신한지주
776 058430 포스코강판
777 058650 세아홀딩스
778 058730 동아에스텍
779 063160 종근당바이오
780 064420 케이피케미칼
781 064960 S&T대우
782 066570 LG전자
783 066571 LG전자우
784 067250 STX조선
785 067830 세이브존I&C
786 068290 삼성출판사
787 068870 LG생명과학
788 068871 LG생명과학우
789 069260 휴켐스
790 069460 대호에이엘
791 069470 제로원인터랙티브
792 069620 대웅제약
793 069730 DSR제강
794 069960 현대백화점
795 071050 한국금융지주
796 071051 한국금융지주우
797 071052 한국금융지주2우B
798 071090 하이스틸
799 071950 코아스웰
800 071951 코아스웰1우B
801 072130 유엔젤
802 072710 농심홀딩스
803 073240 금호타이어
804 074610 이엔쓰리
805 075180 새론오토모티브
806 076170 GBS
807 076850 맥쿼리센트럴
808 077500 유니퀘스트
809 077970 STX엔진
810 078000 텔코웨어
811 078420 동북아1호
812 078930 GS
813 078931 GS우
814 079160 CJ
815 079430 리바트
816 079660 사조해표
817 080030 동북아2호
818 080180 아시아1호
819 080410 동북아6호
820 080960 동북아3호
821 080970 동북아4호
822 080980 동북아5호
823 081000 일진다이아
824 081190 아시아2호
825 081200 아시아3호
826 081210 아시아4호
827 081930 아시아8호
828 081940 아시아9호
829 082110 동북아8호
830 082240 아시아5호
831 082250 아시아6호
832 082260 아시아7호
833 083120 동북아9호
834 083350 동북아10호
835 083360 동북아11호
836 083370 동북아12호
837 083380 동북아13호
838 083390 동북아14호
839 083420 KPX그린케미칼
840 083570 아시아10호
841 083580 아시아11호
842 083590 아시아12호
843 083600 아시아13호
844 083610 아시아14호
845 083620 아시아15호
846 084010 대한제강
847 084160 골든경매일호
848 084240 동북아15호
849 084670 동양고속
850 084680 C&우방랜드
851 084690 대상홀딩스
852 084691 대상홀딩스우
853 084692 대상홀딩스2우B
854 084870 베이직하우스
855 085310 엔케이
856 086280 글로비스
857 086720 코크렙7호
858 086790 하나금융지주
859 088010 동북아21호
860 088790 진도에프앤
861 088980 맥쿼리인프라
862 089470 현대EP
863 090080 평화산업
864 090350 노루페인트
865 090351 노루페인트우
866 090370 아비스타
867 090430 아모레퍼시픽
868 090431 아모레퍼시픽우
869 090540 코크렙8호
870 090970 코리아01호
871 090980 코리아02호
872 090990 코리아03호
873 091000 코리아04호
874 091090 세원셀론텍
875 092200 디아이씨
876 092220 KEC
877 092230 KPX홀딩스
878 092440 기신정기
879 092630 바다로3호
880 092970 거북선1호
881 093050 LG패션
882 093230 쉘라인
883 093370 후성
884 093400 코리아05호
885 093410 코리아06호
886 093730 동북아31호
887 093820 한국유전15-1
888 094280 효성ITX
889 094520 맵스베트남1
890 094800 맵스리얼티1
891 094950 지비베트남1
892 095720 웅진씽크빅
893 096300 베트남개발1
894 096760 중외홀딩스
895 096770 SK에너지
896 096771 SK에너지우
897 097230 한진중공업
898 097950 CJ제일제당
899 097951 CJ제일제당
900 097952 CJ제일제당
901 097953 CJ제일제당
902 098150 한국아태특별
903 099210 코리아07호
904 099340 하나니켈1호
905 099350 하나니켈2호
906 100220 비유와상징
907 100250 진양홀딩스
908 100840 S&TC
909 101060 SBS홀딩스
910 101140 아티스
911 101380 거북선2호
912 101790 케이알제2호
913 101990 파브코
914 102000 거북선3호
915 102260 동성홀딩스
916 102280 트라이
917 103140 풍산
918 103150 하이트맥주
919 103151 하이트맥주우
920 103160 풀무원
921 103590 일진전기
922 104110 신성ENG
923 104120 신성FA
924 104700 한국철강
925 105560 KB금융
926 107590 미원에스씨

In [ ]:
# 145. 파일의 특정 부분만 복사하기 (seek, read, write)

spos = 105
size = 500

f = open('stockcode.txt', 'r', encoding = 'euc-kr')
h = open('stockcode_part.txt', 'w')

f.seek(spos)
data = f.read(size)
h.write(data)

h.close()
f.close()

### os

In [ ]:
# 146. 파일 크기 구하기 (os.path.getsize)

from os.path import getsize

file1 = 'stockcode.txt'
file2 = 'img_sample.jpg'
file_size1 = getsize(file1)
file_size2 = getsize(file2)

print('File Name: %s \tFile Size: %d' %(file1, file_size1))
print('File Name: %s \tFile Size: %d' %(file2, file_size2))

File Name: stockcode.txt 	File Size: 16339
File Name: img_sample.jpg 	File Size: 170005

In [ ]:
# 147. 파일 삭제하기 (os.remove)

from os import remove

target_file ='stockcode_copy.txt'
k = input('[%s] 파일을 삭제하겠습니까? (y/n)' %target_file)
if k == 'y':
  remove(target_file)
  print('[%s]를 삭제했습니다.' %target_file)

[stockcode_copy.txt] 파일을 삭제하겠습니까? (y/n)y
[stockcode_copy.txt]를 삭제했습니다.

In [ ]:
# 148 파일이름 바꾸기 (os.rename)

from os import rename

target_file = '기업주가.txt'
newname = input('[%s]에 대한 새로운 파일 이름을 입력하세요:' %target_file)
rename(target_file, newname)
print('[%s] -> [%s]로 파일이름이 변경되었습니다.' %(target_file, newname))

[기업주가.txt]에 대한 새로운 파일 이름을 입력하세요:stockcode.txt
[기업주가.txt] -> [stockcode.txt]로 파일이름이 변경되었습니다.

In [ ]:
# 파일을 다루는 다른 디렉토리로 이동하기

from os import rename

target_file = 'stockcode.txt'
newpath = input('[%s]를 이동할 디렉토리의 절대경로를 입력하세요:' %target_file)

if newpath[-1] == '/':
  newname = newpath + target_file
else:
  newname = newpath + '/' + target_file

try:
  rename(target_file, newname)
  print('[%s] -> [%s]로 이동되었습니다.' %(target_file, newname))
except FileNotFoundError as e:
  print(e)

[stockcode.txt]를 이동할 디렉토리의 절대경로를 입력하세요:/content/drive/MyDrive/코딩공부/python_200
[Errno 2] No such file or directory: 'stockcode.txt' -> '/content/drive/MyDrive/코딩공부/python_200/stockcode.txt'

In [ ]:
# 디렉토리에 있는 파일목록 얻기 (os.listdir, glob.glob)
## os.listdir은 모든 파일과 디렉토리, glob.glob는 파일만
## glob()의 인자는 윈도우 명령 프롬프트나 유닉스 쉘 프로그램에서 사용하는 와일드카드(*)를 사용할 수 있다.

import os, glob

folder = '/content/drive/MyDrive/공부/코딩공부/python_200'
file_list = os.listdir(folder)
print(file_list)

files = '*.txt'
file_list = glob.glob(files)
print(file_list)

['초보자를 위한 파이썬 200제.ipynb', 'mylib.py', '__pycache__', 'mypackage', 'stockcode.txt', 'mydata.txt', 'img_sample.jpg', 'img_sample_copy.jpg', 'stockcode_part.txt']
['stockcode.txt', 'mydata.txt', 'stockcode_part.txt']

In [ ]:
# 151. 현재 디렉토리 확인하고 바꾸기(os.getcwd, os.chdir)

import os

pdir = os.getcwd(); print(pdir)
os.chdir('..'); print(os.getcwd())
os.chdir(pdir); print(os.getcwd())  # change directory

/content/drive/My Drive/공부/코딩공부/python_200
/content/drive/My Drive/공부/코딩공부
/content/drive/My Drive/공부/코딩공부/python_200

In [ ]:
# 152. 디렉토리 생성하기 (os.mkdir)

import os

newfolder = input('새로 생성할 디렉토리 이름을 입력하세요:')
try:
  os.mkdir(newfolder)
  print('[%s] 디렉토리를 새로 생성했습니다.' %newfolder)
except Exception as e:
  print(e)

새로 생성할 디렉토리 이름을 입력하세요:hodu
[hodu] 디렉토리를 새로 생성했습니다.

In [ ]:
# 153. 디렉토리 제거하기 (os.rmdir)

import os

target_folder = 'hodu'
k = input('[%s] 디렉토리를 삭제하겠습니까? (y/n)' %target_folder)
if k == 'y':
  try:
    os.rmdir(target_folder)
    print('[%s] 디렉토리를 삭제했습니다.' %target_folder)
  except Exception as e:
    print(e)

[hodu] 디렉토리를 삭제하겠습니까? (y/n)y
[Errno 2] No such file or directory: 'hodu'

In [ ]:
# 하위 디렉토리 및 파일 전체 삭제하기 (shutil.rmtree)

import shutil
import os

target_folder = '../python_200/hodu'
print('[%s] 하위 모든 디렉토리 및 파일들을 삭제합니다.' %target_folder)

for file in os.listdir(target_folder):
  print(file)

k = input('[%s]를 삭제하겠습니까? (y/n)' %target_folder)

if k == 'y':
  try:
    shutil.rmtree(target_folder)
    print('[%s]의 모든 하위 디렉토리와 파일들을 삭제했습니다.' %target_folder)
  except Exception as e:
    print(e)

[../python_200/hodu] 하위 모든 디렉토리 및 파일들을 삭제합니다.
[../python_200/hodu]를 삭제하겠습니까? (y/n)y
[../python_200/hodu]의 모든 하위 디렉토리와 파일들을 삭제했습니다.

In [ ]:
# 155. 파일이 존재하는지 체크하기 (os.path.exists)

import os
from os.path import exists

dir_name = input('새로 생성할 디렉토리 이름을 입력하세요:')
if not exists(dir_name):
  os.mkdir(dir_name)
  print('[%s] 디렉토리를 생성했습니다.' %dir_name)
else:
  print('[%s]은(는) 이미 존재합니다.' %dir_name)

새로 생성할 디렉토리 이름을 입력하세요:hodu
[hodu]은(는) 이미 존재합니다.

In [ ]:
# 156. 파일인지 디렉토리인지 확인하기 (os.path.isfile, os.path.isdir)

import os
from os.path import exists, isdir, isfile

files = os.listdir()
for file in files:
  if isdir(file):
    print('DIR: %s' %file)

for file in files:
  if isfile(file):
    print('FILE: %s' %file)

DIR: __pycache__
DIR: mypackage
DIR: hodu
FILE: 초보자를 위한 파이썬 200제.ipynb
FILE: mylib.py
FILE: stockcode.txt
FILE: mydata.txt
FILE: img_sample.jpg
FILE: img_sample_copy.jpg
FILE: stockcode_part.txt

### 시간

In [ ]:
# 157. 현재 시간을 년-월-일 시:분:초로 출력하기(localtime, strftime)

from time import localtime, strftime

logfile = 'test.log'
def writelog(logfile, log):
  time_stamp = strftime('%Y-%m-%d %X\t', localtime())
  log = time_stamp + log + '\n'

  with open(logfile, 'a') as f:
    f.writelines(log)

writelog(logfile, '첫 번째 로깅 문장입니다.')

In [ ]:
# 리스트 컴프리헨션
# 1부터 19까지의 숫자 중 홀수만을 포함하는 리스트

array = [i for i in range(20) if i%2 == 1]
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]